@functions {

    private string IsActive(string componentTitle)
    {
        if (ViewData.TryGetValue("ComponentTitle", out var temp))
        {
            return Equals(componentTitle, temp!) ? "c-styleguide-list__item--active" : string.Empty;
        }
        return string.Empty;
    }
}

<div class="o-grid-col-bp3-3">
    <div class="br-styleguide-nav-holder br-styleguide-nav-holder--desktop">

        <div class="br-docs-category">
            <h4 class="br-docs-category-name c-h4">Basics</h4>
            <div class="br-docs-category-list-wrapper">
                <ul class="c-styleguide-list">
                <li class="c-styleguide-list__item @IsActive("Colors")"><a asp-page="../../01_cat_basics/Colors/Colors">Colors </a></li>
                <li class="c-styleguide-list__item @IsActive("Colors")"><a asp-page="../../01_cat_basics/Spacing/Spacing">Spacing </a></li>
                </ul>
            </div>
        </div>
        <div class="br-docs-category">
            <h4 class="br-docs-category-name c-h4">Design System (HTML)</h4>
            <div class="br-docs-category-list-wrapper">
                <ul class="c-styleguide-list">
                    <li class="c-styleguide-list__item @IsActive("CardGrid")"><a asp-page="../../03_cat_ds/CardGrid/CardGrid">CardGrid </a></li>
                    <li class="c-styleguide-list__item @IsActive("Dropdown")"><a asp-page="../../03_cat_ds/Dropdown/Dropdown">Dropdown </a></li>
                    <li class="c-styleguide-list__item @IsActive("ErrorPages")"><a asp-page="../../03_cat_ds/ErrorPages/ErrorPages">ErrorPages </a></li>
                    <li class="c-styleguide-list__item @IsActive("FileAttachment")"><a asp-page="../../03_cat_ds/FileAttachment/FileAttachment">FileAttachment </a></li>
                    <li class="c-styleguide-list__item @IsActive("FileUpload")"><a asp-page="../../03_cat_ds/FileUpload/FileUpload">FileUpload </a></li>
                    <li class="c-styleguide-list__item @IsActive("FilterPill")"><a asp-page="../../03_cat_ds/FilterPill/FilterPill">FilterPill </a></li>
                    <li class="c-styleguide-list__item @IsActive("FlexboxLayout")"><a asp-page="../../03_cat_ds/FlexboxLayout/FlexboxLayout">FlexboxLayout </a></li>
                    <li class="c-styleguide-list__item @IsActive("GlobalBanner")"><a asp-page="../../03_cat_ds/GlobalBanner/GlobalBanner">GlobalBanner </a></li>
                    <li class="c-styleguide-list__item @IsActive("IconList")"><a asp-page="../../03_cat_ds/IconList/IconList">IconList </a></li>
                    <li class="c-styleguide-list__item @IsActive("Interactions")"><a asp-page="../../03_cat_ds/Interactions/Interactions">Interactions </a></li>
                    <li class="c-styleguide-list__item @IsActive("Link")"><a asp-page="../../03_cat_ds/Link/Link">Link </a></li>
                    <li class="c-styleguide-list__item @IsActive("List")"><a asp-page="../../03_cat_ds/List/List">List </a></li>
                    <li class="c-styleguide-list__item @IsActive("Navbar")"><a asp-page="../../03_cat_ds/Navbar/Navbar">Navbar </a></li>
                    <li class="c-styleguide-list__item @IsActive("Or")"><a asp-page="../../03_cat_ds/Or/Or">Or</a></li>
                    <li class="c-styleguide-list__item @IsActive("SideMenu")"><a asp-page="../../03_cat_ds/SideMenu/SideMenu">SideMenu </a></li>
                    <li class="c-styleguide-list__item @IsActive("Table")"><a asp-page="../../03_cat_ds/Table/Table">Table </a></li>
                    <li class="c-styleguide-list__item @IsActive("Tabs")"><a asp-page="../../03_cat_ds/Tabs/Tabs">Tabs </a></li>
                    <li class="c-styleguide-list__item @IsActive("Toolbar")"><a asp-page="../../03_cat_ds/Toolbar/Toolbar">Toolbar </a></li>
                    <li class="c-styleguide-list__item @IsActive("Tooltip")"><a asp-page="../../03_cat_ds/Tooltip/Tooltip">Tooltip </a></li>
                    <li class="c-styleguide-list__item @IsActive("Wizard")"><a asp-page="../../03_cat_ds/Wizard/Wizard">Wizard </a></li>
                    <li class="c-styleguide-list__item @IsActive("Table")"><a asp-page="../../03_cat_ds/Table/Table">Table </a></li>
                    <li class="c-styleguide-list__item @IsActive("SideMenu")"><a asp-page="../../03_cat_ds/SideMenu/SideMenu">SideMenu </a></li>
                    <li class="c-styleguide-list__item @IsActive("Tabs")"><a asp-page="../../03_cat_ds/Tabs/Tabs">Tabs </a></li>
                    <li class="c-styleguide-list__item @IsActive("CardGrid")"><a asp-page="../../03_cat_ds/CardGrid/CardGrid">CardGrid </a></li>
                    <li class="c-styleguide-list__item @IsActive("FlexboxLayout")"><a asp-page="../../03_cat_ds/FlexboxLayout/FlexboxLayout">FlexboxLayout </a></li>
                    <li class="c-styleguide-list__item @IsActive("Interactions")"><a asp-page="../../03_cat_ds/Interactions/Interactions">Interactions </a></li>
                </ul>
            </div>
        </div>
        <div class="br-docs-category">
            <h4 class="br-docs-category-name c-h4">Design Library (.NET)</h4>
            <div class="br-docs-category-list-wrapper">
                <ul class="c-styleguide-list">
                    <li class="c-styleguide-list__item @IsActive("TableOfContent")"><a asp-page="../../02_cat_dl/TableOfContent/TableOfContent">Table of content </a></li>
                    <li class="c-styleguide-list__item @IsActive("Icons")"><a asp-page="../../02_cat_dl/Icons/Icons">Icons  </a></li>
                    <li class="c-styleguide-list__item @IsActive("RadioButton")"><a asp-page="../../02_cat_dl/RadioButton/RadioButton">RadioButton  </a></li>
                    <li class="c-styleguide-list__item @IsActive("Select")"><a asp-page="../../02_cat_dl/Select/Select">Select</a></li>
                    <li class="c-styleguide-list__item @IsActive("Textarea")"><a asp-page="../../02_cat_dl/TextArea/TextArea">TextArea</a></li>
                    <li class="c-styleguide-list__item @IsActive("Grid")"><a asp-page="../../02_cat_dl/Grid/Grid">Grid</a></li>
                    <li class="c-styleguide-list__item @IsActive("Container")"><a asp-page="../../02_cat_dl/Container/Container">Container</a></li>
                    <li class="c-styleguide-list__item @IsActive("ProgressBar")"><a asp-page="../../02_cat_dl/ProgressBar/ProgressBar">Progress Bar</a></li>
                    <li class="c-styleguide-list__item @IsActive("Pill")"><a asp-page="../../02_cat_dl/Pill/Pill">Pill</a></li>
                    <li class="c-styleguide-list__item @IsActive("FormGroup")"><a asp-page="../../02_cat_dl/FormGroup/FormGroup">FormGroup</a></li>
                </ul>
            </div>
        </div>
        <div class="br-docs-category">
            <h4 class="br-docs-category-name c-h4">To order by DS/DL and to document</h4>
            <div class="br-docs-category-list-wrapper">
                <ul class="c-styleguide-list">
                    <li class="c-styleguide-list__item @IsActive("BaseSmartFormGroup")"><a asp-page="../../04_todo/BaseSmartFormGroup/BaseSmartFormGroup">Base form group </a></li>
                    <li class="c-styleguide-list__item @IsActive("Checkbox")"><a asp-page="../../04_todo/Checkbox/Checkbox">Checkbox </a></li>
                    <li class="c-styleguide-list__item @IsActive("Form group input text")"><a asp-page="../../04_todo/FormGroupInputText/FormGroupInputText">Form group input text </a></li>
                    <li class="c-styleguide-list__item @IsActive("Form group text area")"><a asp-page="../../04_todo/FormGroupTextArea/FormGroupTextArea">Form group text area </a></li>
                    <li class="c-styleguide-list__item @IsActive("File upload")"><a asp-page="../../04_todo/FileUpload/FileUpload">File upload </a></li>
                    <li class="c-styleguide-list__item @IsActive("Input")"><a asp-page="../../04_todo/Input/Input">Input </a></li>
                    <li class="c-styleguide-list__item @IsActive("Input group")"><a asp-page="../../04_todo/InputGroup/InputGroup">Input group </a></li>
                    <li class="c-styleguide-list__item @IsActive("Input time")"><a asp-page="../../04_todo/InputTime/InputTime">Input time </a></li>
                    <li class="c-styleguide-list__item @IsActive("Accordion")"><a asp-page="../../04_todo/Accordion/Accordion">Accordion </a></li>
                    <li class="c-styleguide-list__item @IsActive("Alert")"><a asp-page="../../04_todo/Alert/Alert">Alert </a></li>
                    <li class="c-styleguide-list__item @IsActive("AlertStack")"><a asp-page="../../04_todo/AlertStack/AlertStack">Alert stack </a></li>
                    <li class="c-styleguide-list__item @IsActive("AlertDialog")"><a asp-page="../../04_todo/AlertDialog/AlertDialog">Alert dialog </a></li>
                    <li class="c-styleguide-list__item @IsActive("ApplicationLayoutSidebar")"><a asp-page="../../04_todo/ApplicationLayoutSidebar/ApplicationLayoutSidebar">Application layout sidebar </a></li>
                    <li class="c-styleguide-list__item @IsActive("Avatar")"><a asp-page="../../04_todo/Avatar/Avatar">Avatar </a></li>
                    <li class="c-styleguide-list__item @IsActive("Badge")"><a asp-page="../../04_todo/Badge/Badge">Badge </a></li>
                    <li class="c-styleguide-list__item @IsActive("Base")"><a asp-page="../../04_todo/Base/Base">Base </a></li>
                    <li class="c-styleguide-list__item @IsActive("Body")"><a asp-page="../../04_todo/Body/Body">Body </a></li>
                    <li class="c-styleguide-list__item @IsActive("BodyWrapper")"><a asp-page="../../04_todo/BodyWrapper/BodyWrapper">Body wrapper </a></li>
                    <li class="c-styleguide-list__item @IsActive("Box")"><a asp-page="../../04_todo/Box/Box">Box </a></li>
                    <li class="c-styleguide-list__item @IsActive("Button")"><a asp-page="../../04_todo/Button/Button">Button </a></li>
                    <li class="c-styleguide-list__item @IsActive("ButtonToolbar")"><a asp-page="../../04_todo/ButtonToolbar/ButtonToolbar">Button toolbar </a></li>
                    <li class="c-styleguide-list__item @IsActive("ButtonBackToTop")"><a asp-page="../../04_todo/ButtonBackToTop/ButtonBackToTop">Button back to top </a></li>
                    <li class="c-styleguide-list__item @IsActive("Card")"><a asp-page="../../04_todo/Card/Card">Card </a></li>
                    <li class="c-styleguide-list__item @IsActive("Citation")"><a asp-page="../../04_todo/Citation/Citation">Citation </a></li>
                    <li class="c-styleguide-list__item @IsActive("Dialog")"><a asp-page="../../04_todo/Dialog/Dialog">Dialog </a></li>
                    <li class="c-styleguide-list__item @IsActive("Elevation")"><a asp-page="../../04_todo/Elevation/Elevation">Elevation</a></li>
                    <li class="c-styleguide-list__item @IsActive("FileAttachment")"><a asp-page="../../04_todo/FileAttachment/FileAttachment">File attachment </a></li>
                    <li class="c-styleguide-list__item @IsActive("GlobalBanner")"><a asp-page="../../04_todo/GlobalBanner/GlobalBanner">Global banner</a></li>
                    <li class="c-styleguide-list__item @IsActive("GridList")"><a asp-page="../../04_todo/GridList/GridList">Grid list </a></li>
                    <li class="c-styleguide-list__item @IsActive("Header")"><a asp-page="../../04_todo/Header/Header">Header</a></li>
                    <li class="c-styleguide-list__item @IsActive("Header")"><a asp-page="../../04_todo/Header/NotLoggedInHeader">Header : Not Logged In</a></li>
                    <li class="c-styleguide-list__item @IsActive("HorizontalRule")"><a asp-page="../../04_todo/HorizontalRule/HorizontalRule">Horizontal rule </a></li>
                    <li class="c-styleguide-list__item @IsActive("IconListItem")"><a asp-page="../../04_todo/IconListItem/IconListItem">Icon list item</a></li>
                    <li class="c-styleguide-list__item @IsActive("KeyValueList")"><a asp-page="../../04_todo/KeyValueList/KeyValueList">Key value list </a></li>
                    <li class="c-styleguide-list__item @IsActive("KeyValueListItem")"><a asp-page="../../04_todo/KeyValueListItem/KeyValueListItem">Key value list item </a></li>
                    <li class="c-styleguide-list__item @IsActive("Loader")"><a asp-page="../../04_todo/Loader/Loader">Loader </a></li>
                    <li class="c-styleguide-list__item @IsActive("MainLayout")"><a asp-page="../../04_todo/MainLayout/MainLayout">Main layout</a></li>
                    <li class="c-styleguide-list__item @IsActive("MutedText")"><a asp-page="../../04_todo/MutedText/MutedText">Muted text </a></li>
                    <li class="c-styleguide-list__item @IsActive("PageTitle")"><a asp-page="../../04_todo/PageTitle/PageTitle">Page title</a></li>
                    <li class="c-styleguide-list__item @IsActive("Pagination")"><a asp-page="../../04_todo/Pagination/Pagination">Pagination </a></li>
                    <li class="c-styleguide-list__item @IsActive("Panel")"><a asp-page="../../04_todo/Panel/Panel">Panel </a></li>
                    <li class="c-styleguide-list__item @IsActive("Tab")"><a asp-page="../../04_todo/Tab/Tab">Tab </a></li>
                    <li class="c-styleguide-list__item @IsActive("TabItem")"><a asp-page="../../04_todo/TabItem/TabItem">Tab item </a></li>
                    <li class="c-styleguide-list__item @IsActive("TabItems")"><a asp-page="../../04_todo/TabItems/TabItems">Tab items </a></li>
                    <li class="c-styleguide-list__item @IsActive("TabSection")"><a asp-page="../../04_todo/TabSection/TabSection">Tab section </a></li>
                    <li class="c-styleguide-list__item @IsActive("ValidationMessage")"><a asp-page="../../04_todo/ValidationMessage/ValidationMessage">Validation message</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
