@functions {

    private string IsActive(string componentTitle)
    {
        if (ViewData.TryGetValue("ComponentTitle", out var temp))
        {
            return Equals(componentTitle, temp!) ? "c-styleguide-list__item--active" : string.Empty;
        }
        return string.Empty;
    }
}

<div class="o-grid-col-bp3-3">
    <div class="br-styleguide-nav-holder br-styleguide-nav-holder--desktop">

        <div class="br-docs-category">
            <h4 class="br-docs-category-name c-h4">Basics</h4>
            <div class="br-docs-category-list-wrapper">
                <ul class="c-styleguide-list">
                    <li class="c-styleguide-list__item @IsActive("Colors")"><a asp-page="../Colors/Colors">Colors <smart-badge badge-style="Success" size="Small"></smart-badge></a></li>
                    <li class="c-styleguide-list__item @IsActive("Icons")"><a asp-page="../Icons/Icons">Icons  <smart-badge badge-style="Warning" size="Small"></smart-badge></a></li>
                </ul>
            </div>
        </div>

        <div class="br-docs-category">
            <h4 class="br-docs-category-name c-h4">Components</h4>
            <div class="br-docs-category-list-wrapper">
                <ul class="c-styleguide-list">
                    <li class="c-styleguide-list__item @IsActive("Accordion")"><a asp-page="../Accordion/Accordion">Accordion <smart-badge badge-style="Success" size="Small"></smart-badge></a></li>
                    <li class="c-styleguide-list__item @IsActive("Alert")"><a asp-page="../Alert/Alert">Alert <smart-badge badge-style="Success" size="Small"></smart-badge></a></li>
                    <li class="c-styleguide-list__item @IsActive("AlertStack")"><a asp-page="../AlertStack/AlertStack">Alert stack <smart-badge badge-style="Error" size="Small"></smart-badge></a></li>
                    <li class="c-styleguide-list__item @IsActive("AlertDialog")"><a asp-page="../AlertDialog/AlertDialog">Alert dialog <smart-badge badge-style="Error" size="Small"></smart-badge></a></li>
                    <li class="c-styleguide-list__item @IsActive("ApplicationLayoutSidebar")"><a asp-page="../ApplicationLayoutSidebar/ApplicationLayoutSidebar">Application layout sidebar <smart-badge badge-style="Default" size="Small"></smart-badge></a></li>
                    <li class="c-styleguide-list__item @IsActive("Avatar")"><a asp-page="../Avatar/Avatar">Avatar <smart-badge badge-style="Success" size="Small"></smart-badge></a></li>
                    <li class="c-styleguide-list__item @IsActive("Badge")"><a asp-page="../Badge/Badge">Badge <smart-badge badge-style="Warning" size="Small"></smart-badge></a></li>
                    <li class="c-styleguide-list__item @IsActive("Base")"><a asp-page="../Base/Base">Base <smart-badge badge-style="Default" size="Small"></smart-badge></a></li>
                    <li class="c-styleguide-list__item @IsActive("BaseSmartFormGroup")"><a asp-page="../BaseSmartFormGroup/BaseSmartFormGroup">Base smart form group <smart-badge badge-style="Warning" size="Small"></smart-badge></a></li>
                    <li class="c-styleguide-list__item @IsActive("Body")"><a asp-page="../Body/Body">Body <smart-badge badge-style="Default" size="Small"></smart-badge></a></li>
                    <li class="c-styleguide-list__item @IsActive("BodyWrapper")"><a asp-page="../BodyWrapper/BodyWrapper">Body wrapper <smart-badge badge-style="Default" size="Small"></smart-badge></a></li>
                    <li class="c-styleguide-list__item @IsActive("Button")"><a asp-page="../Button/Button">Button <smart-badge badge-style="Warning" size="Small"></smart-badge></a></li>
                    <li class="c-styleguide-list__item @IsActive("ButtonToolbar")"><a asp-page="../ButtonToolbar/ButtonToolbar">Button toolbar <smart-badge badge-style="Warning" size="Small"></smart-badge></a></li>
                    <li class="c-styleguide-list__item @IsActive("ButtonBackToTop")"><a asp-page="../ButtonBackToTop/ButtonBackToTop">Button back to top <smart-badge badge-style="Success" size="Small"></smart-badge></a></li>
                    <li class="c-styleguide-list__item @IsActive("Card")"><a asp-page="../Card/Card">Card <smart-badge badge-style="Warning" size="Small"></smart-badge></a></li>
                    <li class="c-styleguide-list__item @IsActive("Checkbox")"><a asp-page="../Checkbox/Checkbox">Checkbox <smart-badge badge-style="Warning" size="Small"></smart-badge></a></li>
                    <li class="c-styleguide-list__item @IsActive("Citation")"><a asp-page="../Citation/Citation">Citation <smart-badge badge-style="Success" size="Small"></smart-badge></a></li>
                    <li class="c-styleguide-list__item @IsActive("Container")"><a asp-page="../Container/Container">Container</a></li>
                    <li class="c-styleguide-list__item @IsActive("Dialog")"><a asp-page="../Dialog/Dialog">Dialog <smart-badge badge-style="Error" size="Small"></smart-badge></a></li>
                    <li class="c-styleguide-list__item @IsActive("Elevation")"><a asp-page="../Elevation/Elevation">Elevation</a></li>
                    <li class="c-styleguide-list__item @IsActive("Form")"><a asp-page="../Form/Form">Form</a></li>
                    <li class="c-styleguide-list__item @IsActive("FormGroup")"><a asp-page="../FormGroup/FormGroup">Form group</a></li>
                    <li class="c-styleguide-list__item @IsActive("FormGroupInputText")"><a asp-page="../FormGroupInputText/FormGroupInputText">Form group input text</a></li>
                    <li class="c-styleguide-list__item @IsActive("FormGroupTextArea")"><a asp-page="../FormGroupTextArea/FormGroupTextArea">Form group text area</a></li>
                    <li class="c-styleguide-list__item @IsActive("FilterPill")"><a asp-page="../FilterPill/FilterPill">Filter pill <smart-badge badge-style="Error" size="Small"></smart-badge></a></li>
                    <li class="c-styleguide-list__item @IsActive("FileUpload")"><a asp-page="../FileUpload/FileUpload">File Upload <smart-badge badge-style="Error" size="Small"></smart-badge></a></li>
                    <li class="c-styleguide-list__item @IsActive("FileAttachment")"><a asp-page="../FileAttachment/FileAttachment">File attachment <smart-badge badge-style="Error" size="Small"></smart-badge></a></li>
                    <li class="c-styleguide-list__item @IsActive("GlobalBanner")"><a asp-page="../GlobalBanner/GlobalBanner">Global banner</a></li>
                    <li class="c-styleguide-list__item @IsActive("Grid")"><a asp-page="../Grid/Grid">Grid</a></li>
                    <li class="c-styleguide-list__item @IsActive("GridColumn")"><a asp-page="../GridColumn/GridColumn">Grid column</a></li>
                    <li class="c-styleguide-list__item @IsActive("GridList")"><a asp-page="../GridList/GridList">Grid list <smart-badge badge-style="Error" size="Small"></smart-badge></a></li>
                    <li class="c-styleguide-list__item @IsActive("Header")"><a asp-page="../Header/Header">Header</a></li>
                    <li class="c-styleguide-list__item @IsActive("HorizontalRule")"><a asp-page="../HorizontalRule/HorizontalRule">Horizontal rule <smart-badge badge-style="Success" size="Small"></smart-badge></a></li>
                    <li class="c-styleguide-list__item @IsActive("IconList")"><a asp-page="../IconList/IconList">Icon list</a></li>
                    <li class="c-styleguide-list__item @IsActive("IconListItem")"><a asp-page="../IconListItem/IconListItem">Icon list item</a></li>
                    <li class="c-styleguide-list__item @IsActive("Input")"><a asp-page="../Input/Input">Input <smart-badge badge-style="Warning" size="Small"></smart-badge></a></li>
                    <li class="c-styleguide-list__item @IsActive("InputGroup")"><a asp-page="../InputGroup/InputGroup">Input group <smart-badge badge-style="Success" size="Small"></smart-badge></a></li>
                    <li class="c-styleguide-list__item @IsActive("InputTime")"><a asp-page="../InputTime/InputTime">Input time <smart-badge badge-style="Warning" size="Small"></smart-badge></a></li>
                    <li class="c-styleguide-list__item @IsActive("KeyValueList")"><a asp-page="../KeyValueList/KeyValueList">Key value list <smart-badge badge-style="Warning" size="Small"></smart-badge></a></li>
                    <li class="c-styleguide-list__item @IsActive("KeyValueListItem")"><a asp-page="../KeyValueListItem/KeyValueListItem">Key value list item <smart-badge badge-style="Success" size="Small"></smart-badge></a></li>
                    <li class="c-styleguide-list__item @IsActive("Loader")"><a asp-page="../Loader/Loader">Loader <smart-badge badge-style="Success" size="Small"></smart-badge></a></li>
                    <li class="c-styleguide-list__item @IsActive("MainLayout")"><a asp-page="../MainLayout/MainLayout">Main layout</a></li>
                    <li class="c-styleguide-list__item @IsActive("MutedText")"><a asp-page="../MutedText/MutedText">Muted text <smart-badge badge-style="Success" size="Small"></smart-badge></a></li>
                    <li class="c-styleguide-list__item @IsActive("Or")"><a asp-page="../Or/Or">Or <smart-badge badge-style="Error" size="Small"></smart-badge></a></li>
                    <li class="c-styleguide-list__item @IsActive("PageTitle")"><a asp-page="../PageTitle/PageTitle">Page title</a></li>
                    <li class="c-styleguide-list__item @IsActive("Pagination")"><a asp-page="../Pagination/Pagination">Pagination <smart-badge badge-style="Warning" size="Small"></smart-badge></a></li>
                    <li class="c-styleguide-list__item @IsActive("Panel")"><a asp-page="../Panel/Panel">Panel <smart-badge badge-style="Warning" size="Small"></smart-badge></a></li>
                    <li class="c-styleguide-list__item @IsActive("Pill")"><a asp-page="../Pill/Pill">Pill <smart-badge badge-style="Success" size="Small"></smart-badge></a></li>
                    <li class="c-styleguide-list__item @IsActive("ProgressBar")"><a asp-page="../ProgressBar/ProgressBar">Progress bar <smart-badge badge-style="Success" size="Small"></smart-badge></a></li>
                    <li class="c-styleguide-list__item @IsActive("RadioButton")"><a asp-page="../RadioButton/RadioButton">Radio button <smart-badge badge-style="Warning" size="Small"></smart-badge></a></li>
                    <li class="c-styleguide-list__item @IsActive("Select")"><a asp-page="../Select/Select">Select</a></li>
                    <li class="c-styleguide-list__item @IsActive("SideMenu")"><a asp-page="../SideMenu/SideMenu">Side menu</a></li>
                    <li class="c-styleguide-list__item @IsActive("Spacer")"><a asp-page="../Spacer/Spacer">Spacer</a></li>
                    <li class="c-styleguide-list__item @IsActive("Tab")"><a asp-page="../Tab/Tab">Tab <smart-badge badge-style="Error" size="Small"></smart-badge></a></li>
                    <li class="c-styleguide-list__item @IsActive("TabItem")"><a asp-page="../TabItem/TabItem">Tab item <smart-badge badge-style="Error" size="Small"></smart-badge></a></li>
                    <li class="c-styleguide-list__item @IsActive("TabItems")"><a asp-page="../TabItems/TabItems">Tab items <smart-badge badge-style="Error" size="Small"></smart-badge></a></li>
                    <li class="c-styleguide-list__item @IsActive("TableOfContent")"><a asp-page="../TableOfContent/TableOfContent">Table of content <smart-badge badge-style="Success" size="Small"></smart-badge></a></li>
                    <li class="c-styleguide-list__item @IsActive("Table")"><a asp-page="../Table/Table">Table <smart-badge badge-style="Error" size="Small"></smart-badge></a></li>
                    <li class="c-styleguide-list__item @IsActive("Tooltip")"><a asp-page="../Tooltip/Tooltip">Tooltip <smart-badge badge-style="Error" size="Small"></smart-badge></a></li>
                    <li class="c-styleguide-list__item @IsActive("TabSection")"><a asp-page="../TabSection/TabSection">Tab section <smart-badge badge-style="Error" size="Small"></smart-badge></a></li>
                    <li class="c-styleguide-list__item @IsActive("Textarea")"><a asp-page="../Textarea/Textarea">Textarea <smart-badge badge-style="Warning" size="Small"></smart-badge></a></li>
                    <li class="c-styleguide-list__item @IsActive("ValidationMessage")"><a asp-page="../ValidationMessage/ValidationMessage">Validation message</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
