@page
@model Smart.Design.Library.Showcase.Pages.Components.Badge.Badge
@{
    ViewData["MainTitle"] = "Components documentation";
    ViewData["ComponentTitle"] = "Badge";
}

<div class="u-padding-bottom-l">
    <h1 class="c-d-h2">@ViewData["MainTitle"]</h1>
</div>


<div class="o-grid">
    @await Html.PartialAsync("Shared/_ComponentList")
    <div class="o-grid-col-bp3-9">
        <div class="br-componentgroup-header-wrapper">
            <h1 class="br-componentgroup-header c-d-h2">@ViewData["ComponentTitle"]</h1>
            <p class="u-text-danger"><b>Status:</b> wrong integration</p>
        </div>
        <div class="br-content c-content">
            <p>Documentation for Badges</p>
        </div>

        <div class="br-sample" id="component-01-c-badge">
            <div class="br-sample-header br-sample-clearfix">
                <h3 class="br-sample-heading c-h3">Default</h3>
            </div>
            <div class="br-sample-content">
                <smart-badge></smart-badge>
            </div>
            <div class="br-sample-footer">
                <b>C# Code: </b>
                <pre class="br-sample-markup br-sample-markup-csharp">@("<smart-badge></smart-badge>")</pre>
            </div>
        </div>

        <div class="br-sample" id="component-01-c-badge-styles">
            <div class="br-sample-header br-sample-clearfix">
                <h3 class="br-sample-heading c-h3">Styles</h3>
            </div>
            <div class="br-sample-content">
                <smart-badge badge-style="Default"></smart-badge>
                <smart-badge badge-style="Warning"></smart-badge>
                <smart-badge badge-style="Error"></smart-badge>
                <smart-badge badge-style="Success"></smart-badge>
                <smart-badge badge-style="Help"></smart-badge>
            </div>
            <div class="br-sample-footer">
                <b>C# Code: </b>
                <pre class="br-sample-markup br-sample-markup-csharp">@("<smart-badge badge-style=\"Default\"></smart-badge>")</pre>
                <pre class="br-sample-markup br-sample-markup-csharp">@("<smart-badge badge-style=\"Warning\"></smart-badge>")</pre>
                <pre class="br-sample-markup br-sample-markup-csharp">@("<smart-badge badge-style=\"Error\"></smart-badge>")</pre>
                <pre class="br-sample-markup br-sample-markup-csharp">@("<smart-badge badge-style=\"Success\"></smart-badge>")</pre>
                <pre class="br-sample-markup br-sample-markup-csharp">@("<smart-badge badge-style=\"Help\"></smart-badge>")</pre>
            </div>
        </div>

        <div class="br-sample" id="component-01-c-badge-sizes">
            <div class="br-sample-header br-sample-clearfix">
                <h3 class="br-sample-heading c-h3">Sizes</h3>
            </div>
            <div class="br-sample-content">
                <smart-badge size="Small"></smart-badge>
                <smart-badge size="Default"></smart-badge>
                <smart-badge size="Large"></smart-badge>
            </div>
            <div class="br-sample-footer">
                <b>C# Code: </b>
                <pre class="br-sample-markup br-sample-markup-csharp">@("<smart-badge size=\"Small\"></smart-badge>")</pre>
                <pre class="br-sample-markup br-sample-markup-csharp">@("<smart-badge size=\"Default\"></smart-badge>")</pre>
                <pre class="br-sample-markup br-sample-markup-csharp">@("<smart-badge size=\"Large\"></smart-badge>")</pre>
            </div>
        </div>

        <div class="br-sample" id="component-01-c-badge-and-text">
            <div class="br-sample-header br-sample-clearfix">
                <h3 class="br-sample-heading c-h3">Badge and text</h3>
            </div>
            <div class="br-sample-documentation c-content c-menu__item--danger">
                <p><b>Wrong naming for attributes:</b></p>
                <p>Title is not a title but normal text. Title comes with the next example.</p>
            </div>
            <div class="br-sample-content">
                <smart-badge title="Text"></smart-badge>
            </div>
            <div class="br-sample-footer">
                <b>C# Code: </b>
                <pre class="br-sample-markup br-sample-markup-csharp">@("<smart-badge title=\"Text\"></smart-badge>")</pre>
            </div>
        </div>

        <div class="br-sample" id="component-01-c-badge-and-text-2-lines">
            <div class="br-sample-header br-sample-clearfix">
                <h3 class="br-sample-heading c-h3">Badge and text (2lines)</h3>
            </div>
            <div class="br-sample-documentation c-content c-menu__item--danger">
                <p><b>Wrong intergration:</b></p>
                <p>Title should be a h4.c-h4. Subline has to be a p.u-text-muted</p>
                <p><b>Wrong naming for attributes:</b></p>
                <p>Subline here should be the same as title above.<p>
            </div>
            <div class="br-sample-content">
                <smart-badge title="Title" subline="Subline"></smart-badge>
            </div>
            <div class="br-sample-footer">
                <b>C# Code: </b>
                <pre class="br-sample-markup br-sample-markup-csharp">@("<smart-badge title=\"Text\" subline=\"Subline\"></smart-badge>")</pre>
            </div>
        </div>

        <div class="br-sample" id="component-01-c-badge-styles">
            <div class="br-sample-header br-sample-clearfix">
                <h3 class="br-sample-heading c-h3">Custom icons</h3>
            </div>
            <div class="br-sample-content">
                <smart-badge badge-style="Warning" icon="EditAlt"></smart-badge>
                <smart-badge badge-style="Success" icon="Clock"></smart-badge>
                <smart-badge badge-style="Default" icon="Home"></smart-badge>
            </div>
            <div class="br-sample-footer">
                <b>C# Code: </b>
                <pre class="br-sample-markup br-sample-markup-csharp">@("<smart-badge badge-style=\"Warning\" icon=\"EditAlt\"></smart-badge>")</pre>
                <pre class="br-sample-markup br-sample-markup-csharp">@("<smart-badge badge-style=\"Success\" icon=\"Clock\"></smart-badge>")</pre>
                <pre class="br-sample-markup br-sample-markup-csharp">@("<smart-badge badge-style=\"Default\" icon=\"Home\"></smart-badge>")</pre>
            </div>
        </div>


        <div class="br-componentgroup-footer-wrapper">
            <h1 class="br-componentgroup-footer c-d-h2">Possible parameters for badge</h1>
            <div class="br-content c-content">
                <table class="c-table">
                    <thead>
                        <tr>
                            <th>Parameters</th>
                            <th>Type</th>
                            <th>Possible values</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>badge-style</td>
                            <td>string</td>
                            <td>
                                <code>Default</code>, <code>Warning</code>, <code>Success</code>, <code>Danger</code>
                            </td>
                            <td>Determines the style of the badge</td>
                        </tr>
                        <tr>
                            <td>size</td>
                            <td>string</td>
                            <td>
                                <code>Small</code>, <code>Default</code>, <code>Large</code>
                            </td>
                            <td>Determines the size of the badge</td>
                        </tr>
                        <tr>
                            <td>title</td>
                            <td>string</td>
                            <td>Any text</td>
                            <td>This is the first line of text</td>
                        </tr>
                        <tr>
                            <td>subline</td>
                            <td>string</td>
                            <td>Any text</td>
                            <td>This is the second line of text</td>
                        </tr>
                        <tr>
                            <td>icon</td>
                            <td>string</td>
                            <td>See <a href="/todo:addLinkToIconsWhenREady">icon style guide</a> for available icons.</td>
                            <td>This parameter is used for custom icons</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
