@page
@model Smart.Design.Library.Showcase.Pages.Templates.ConsistencySalaryForBoDashboardModel
@using Kendo.Mvc.TagHelpers
@using Kendo.Mvc.UI
@{
    ViewData["Title"] = "Consistency salary for BO dashboard";
}

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@Html.AntiForgeryToken()

<div class="c-app-layout">
    @await Html.PartialAsync("Shared/_TemplatesHeader")
    <main class="u-maximize-width">
        <div class="c-app-layout-inner">
            @await Html.PartialAsync("Shared/_TemplatesSideMenu")
            <div class="c-app-layout-inner__content">
                @await Html.PartialAsync("Shared/_TemplatesMainTitle")
                <div class="o-container o-container--large">
                    <div class="o-container-vertical--padding-mini u-position-relative">
                        <span>
                            @(Html.Kendo().DateRangePickerFor(m => m.FromDate, m => m.ToDate)
                                .Name("dateRangePicker")
                                .HtmlAttributes(new { style = "width: auto; float: left" })
                            )
                        </span>
                        <span class="u-spacer-left-xl">
                            @(Html.Kendo().NumericTextBoxFor(m => m.MinimumDelta)
                                .Step(1)
                                .Min(0)
                                .Decimals(2)
                                .Format("c")
                                .Label(lb => lb
                                    .Content("Minimum delta")
                                    .Floating(true))
                                .HtmlAttributes(new { style = "width: 150px" })
                            )
                        </span>
                        <span class="u-spacer-left-xl">
                            @(Html.Kendo().Button()
                                .Name("generateReportBtn")
                                .ThemeColor(ThemeColor.Primary)
                                .Content("Generate report")
                                .Events(e => e
                                    .Click("OnClickGenerateReportBtn"))
                            )
                        </span>
                        <span class="u-spacer-left-s">
                            @(Html.Kendo().Button()
                                .Name("fixIssuesBtn")
                                .ThemeColor(ThemeColor.Primary)
                                .Content("Fix issues")
                                .Events(e => e
                                    .Click("OnClickfixIssuesBtn"))
                            )
                        </span>
                    </div>
                    <div class="o-container-vertical--padding-mini u-position-relative">
                        @(Html.Kendo().Grid<ConsistencySalaryAnomaly>()
                            .Name("consistencySalaryAnomalyGrid")
                            .Sortable()
                            .Filterable()
                            .Scrollable()
                            .AllowCopy()
                            .Selectable(s => s.Mode(GridSelectionMode.Multiple))
                            .Columns(columns =>
                            {
                                columns
                                    .Bound(column => column.SamRawSalary)
                                    .Format("{0:0.00$}");
                                columns
                                    .Bound(column => column.ForHrmRawSalary)
                                    .Format("{0:0.00$}");
                            })
                            .DataSource(ds => ds
                                .Ajax()
                                .Read(r => r.Url("/Templates/ConsistencySalaryForBoDashboard?handler=Read").Data("forgeryToken"))
                                .PageSize(25)
                            )
                            .Pageable()
                            .HtmlAttributes(new { style = "height: calc(100vh - 250px)" })
                        )
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<script>
    $(document).ready(function () {
        console.log("ready!");

        var grid = $("#consistencySalaryAnomalyGrid").data("kendoGrid");
        console.log("grid", grid);
    });

    function forgeryToken() {
        return kendo.antiForgeryTokens();
    }

    function OnClickGenerateReportBtn(e)
    {
        kendo.alert("Click on 'GenerateReportBtn'. We need to do stuff.")
    }

    function OnClickfixIssuesBtn(e)
    {
        kendo.alert("Click on 'fixIssuesBtn'. We also need to do stuff.")
    }

</script>
