@page
@model Smart.Design.Library.Showcase.Pages.Templates.ConsistencySalaryForBoDashboardModel
@using Kendo.Mvc.TagHelpers
@using Kendo.Mvc.UI
@{
    ViewData["Title"] = "Consistency salary for BO dashboard";
}

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@Html.AntiForgeryToken()

<div class="c-app-layout">
    @await Html.PartialAsync("Shared/_TemplatesHeader")
    <main class="u-maximize-width">
        <div class="c-app-layout-inner">
            @await Html.PartialAsync("Shared/_TemplatesSideMenu")
            <div class="c-app-layout-inner__content">
                @await Html.PartialAsync("Shared/_TemplatesMainTitle")
                <div class="o-container o-container--large">
                    <div class="o-container-vertical--padding-mini u-position-relative">
                        <form asp-page-handler="GenerateReport" method="post">
                            <span>
                                @(Html.Kendo().DateRangePickerFor(m => m.FromDate, m => m.ToDate)
                                    .Name("dateRangePicker")
                                    .HtmlAttributes(new { style = "width: auto; float: left" })
                                )
                            </span>
                            <span class="u-spacer-left-xl">
                                @(Html.Kendo().NumericTextBoxFor(m => m.MinimumDelta)
                                    .Step(1)
                                    .Min(0)
                                    .Decimals(2)
                                    .Format("c")
                                    .Label(lb => lb
                                        .Content("Minimum delta")
                                        .Floating(true))
                                    .HtmlAttributes(new { style = "width: 150px" })
                                )
                            </span>
                            <span class="u-spacer-left-xl">
                                @(Html.Kendo().Button()
                                    .Name("generateReportBtn")
                                    .ThemeColor(ThemeColor.Primary)
                                    .Content("Generate report")
                                    .HtmlAttributes(new { type = "submit" })
                                    .Events(e => e.Click("forgeryToken"))
                                )
                            </span>
                            <span class="u-spacer-left-s">
                                @(Html.Kendo().Button()
                                    .Name("fixIssuesBtn")
                                    .ThemeColor(ThemeColor.Primary)
                                    .Content("Fix issues")
                                    .Events(e => e.Click("OnClickfixIssuesBtn"))
                                )
                            </span>
                        </form>
                    </div>
                    <div class="u-position-relative">
                        @(Html.Kendo().Grid<ConsistencySalaryAnomaly>()
                            .Name("consistencySalaryAnomalyGrid")
                            .Sortable()
                            .Filterable()
                            .Scrollable()
                            .Resizable(r => r.Columns(true))
                            .AllowCopy()
                            .Size(ComponentSize.Small)
                            .Selectable(s => s.Mode(GridSelectionMode.Multiple))
                            .ToolBar(x =>
                            {
                                x.Excel();
                            })
                            .Columns(columns =>
                            {
                                columns
                                    .Bound(column => column.MemberReference);
                                columns
                                    .Bound(column => column.WorkerReference);
                                columns
                                    .Bound(column => column.ContractReference);
                                columns
                                    .Bound(column => column.ContractStartDate)
                                    .Format("{0:d}");
                                columns
                                    .Bound(column => column.ContractDurationInDays);
                                columns
                                    .Bound(column => column.SamRawSalary)
                                    .Format("{0:0.00$}");
                                columns
                                    .Bound(column => column.ForHrmRawSalary)
                                    .Format("{0:0.00$}");
                                columns
                                    .Bound(column => column.RawSalaryDelta)
                                    .Format("{0:0.00$}");
                                columns
                                    .Bound(column => column.IsActive)
                                    .ClientTemplate("<input type='checkbox' #= IsActive? checked='checked': checked='' # class='chkbx' disabled='disabled'/>"); ;
                            })
                            .Excel(excel => excel
                                .AllPages(true)
                                .Filterable(true)
                                .FileName(DateTime.Now.ToString("yyyy-MM-dd HH'h'mm") + " - consistency salary issues.xlsx")
                            )
                            .DataSource(ds => ds
                                .Ajax()
                                .Read(r => r.Url("/Templates/ConsistencySalaryForBoDashboard?handler=Read").Data("forgeryToken"))
                                .PageSize(25)
                            )
                            .Pageable(p => p.PageSizes(new[] { 25, 100, 500 }))
                            .HtmlAttributes(new { style = "height: calc(100vh - 225px); user-select: none;" })
                        )
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<script>
    // trick to prevent form submission on refresh
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }

    $(document).ready(function () {
        console.log("ready!");

        var grid = $("#consistencySalaryAnomalyGrid").data("kendoGrid");
        console.log("grid", grid);

        var btn = $("#fixIssuesBtn").data("kendoButton");
        console.log("btn", btn);
    });

    function forgeryToken() {
        return kendo.antiForgeryTokens();
    }

    function OnClickfixIssuesBtn(e)
    {
        kendo.confirm("All the issues will be magically fixed. Please confirm.")
            .done(() => {
                $.post("/Templates/ConsistencySalaryForBoDashboard?handler=FixIssues", forgeryToken()).done(() => {
                    // full refresh of the page...
                    location.replace(location.href);
            });
        });
    }
</script>
