@page
@model Smart.Design.Library.Showcase.Pages.Templates.SubscriptionTelerikModel
@using Kendo.Mvc.UI

@{
    ViewData["Title"] = "Subscription page with Telerik UI";

    var genders = new List<SelectListItem>
    {
        new() { Text = "M", Value = "M" },
        new() { Text = "F", Value = "F" }
    };

    var languages = new List<SelectListItem>
    {
        new() { Text = "FR", Value = "FR" },
        new() { Text = "NL", Value = "NL" }
    };
}

<main class="o-container-vertical">

    <div class="o-container o-container--small">

        <div class="u-spacer-bottom-xl">
            <smart-alert title="Telerik UI" message="<p>This page uses <a href='https://www.telerik.com/aspnet-core-ui' target='_blank'>Telerik UI for ASP.NET Core</a></p>" is-closable="false"></smart-alert>
        </div>

        <div class="c-panel u-shadow-50">

            <div class="c-panel__body u-padding-vertical-l u-padding-bottom">

                <h3 class="c-h2 u-spacer-bottom-xl">Vos données personnelles</h3>

                <smart-form id="subscription">
                    <div class="o-grid">
                        <div class="o-grid-col-6">
                            <smart-formgroup label="Nom">
                                <kendo-textbox name="FirstName" placeholder="First Name"></kendo-textbox>
                            </smart-formgroup>
                        </div>
                        <div class="o-grid-col-6">
                            <smart-formgroup label="Prénom">
                                <kendo-textbox name="LastName" placeholder="Last Name"></kendo-textbox>
                            </smart-formgroup>
                        </div>
                    </div>

                    <smart-formgroup label="Sexe">
                        <kendo-dropdownlist name="Genders"
                                            datatextfield="Text"
                                            datavaluefield="Value"
                                            bind-to="genders">
                        </kendo-dropdownlist>
                    </smart-formgroup>

                    <smart-formgroup label="Langue">
                        <kendo-dropdownlist name="Languages"
                                            datatextfield="Text"
                                            datavaluefield="Value"
                                            bind-to="languages">
                        </kendo-dropdownlist>
                    </smart-formgroup>

                    <smart-formgroup label="Email">
                        @(Html.Kendo()
                            .TextBox()
                            .Name("Email")
                            .HtmlAttributes(new { placeholder = "Email", required = "required", type = "email", data_email_msg = "Email format is not valid" })
                            )
                    </smart-formgroup>

                    <smart-formgroup label="Numéro de téléphone">
                        @(Html.Kendo()
                            .MaskedTextBox()
                            .Name("Phone")
                            .Mask("(000) 00 00 00")
                            .HtmlAttributes(new { required = "required" })
                            )
                    </smart-formgroup>

                    <smart-formgroup label="Numéro de GSM">
                        @(Html.Kendo()
                            .MaskedTextBox()
                            .Name("MobilePhone")
                            .Mask("(0000) 00 00 00")
                            .HtmlAttributes(new { required = "required" })
                            )
                    </smart-formgroup>

                    <smart-formgroup label="Date de naissance">
                        @(Html.Kendo()
                            .DatePicker()
                            .Name("DateOfBirth")
                            .HtmlAttributes(new { style = "width: 100%", title = "datepicker" })
                            )
                    </smart-formgroup>

                    <div class="u-spacer-top-l u-spacer-bottom-s">
                        @* <smart-button button-style="Primary" trailing-icon="ArrowRight" label="Finaliser ma demande d’inscription"></smart-button> *@
                        @(Html.Kendo()
                            .Button()
                            .Name("Submit")
                            .Icon("arrow-right")
                            .Content("Finaliser ma demande d’inscription")
                            )
                    </div>
                </smart-form>
            </div>
        </div>
    </div>
</main>

<style>
    .k-floating-label-container {
        width: 100%;
    }

    .k-button .k-icon {
       float: right;
       margin: 2px;
    }
</style>
