@page
@model Smart.Design.Library.Showcase.Pages.Templates.UploadPOCModel
@using Kendo.Mvc.UI

@{
    Layout = "~/Pages/Shared/_LayoutApp.cshtml";
}

    <div class="c-panel">
        <div class="c-panel__header">
            <div class="c-toolbar">
                <div class="c-toolbar__left">
                    <h1 class="c-panel__title">Documents</h1>
                </div>
                <div class="c-toolbar__right">
                    <button class="c-button c-button--secondary" type="button">
                        <span class="c-button__content">
                        <span class="c-button__label">Récupérer les documents à uplaoder</span>
                            <div class="o-svg-icon o-svg-icon--download  ">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12 2C12.5523 2 13 2.44772 13 3V13.5858L15.2929 11.2929C15.6834 10.9024 16.3166 10.9024 16.7071 11.2929C17.0976 11.6834 17.0976 12.3166 16.7071 12.7071L12.7071 16.7071C12.3166 17.0976 11.6834 17.0976 11.2929 16.7071L7.29289 12.7071C6.90237 12.3166 6.90237 11.6834 7.29289 11.2929C7.68342 10.9024 8.31658 10.9024 8.70711 11.2929L11 13.5858V3C11 2.44772 11.4477 2 12 2ZM5 17C5.55228 17 6 17.4477 6 18V20H18V18C18 17.4477 18.4477 17 19 17C19.5523 17 20 17.4477 20 18V20C20 21.1046 19.1046 22 18 22H6C4.89543 22 4 21.1046 4 20V18C4 17.4477 4.44772 17 5 17Z" fill="#595959"></path>
                                </svg>
                            </div>
                        </span>
                    </button>
                    @(Html.Kendo()
                        .Button()
                        .Name("Back")
                        .Icon("arrow-left")
                        .Content("Retour")
                        )
                </div>
            </div>
        </div>
        <div class="c-panel__body">
            <div class="c-content">
                <div class="informations o-grid">
                    <div class="o-grid-col-12 o-grid-col-bp3-6 o-grid-col-bp4-4">
                        <p><b>Donneur d’orde: </b>John Doe</p>
                        <p><b>Jours: </b>08, 09, 10, 15</p>
                        <p><b>Pour le mois de </b>Mars</p>

                    </div>
                    <div class="o-grid-col-12 o-grid-col-bp3-6 o-grid-col-bp4-8">
                        <p>
                            Description sans label Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed Lorem ipsum dolor sit amet, consectetur adipiscing Description sans label Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed Lorem ipsum dolor sit amet Description sans label Lorem ipsum dolor sit amet, consectetur  ...
                        </p>
                    </div>
                </div>
                <form>
                    <div class="o-flex-bp3 o-flex--wrap">
                        <div class="dropdown_zone dropdown_zone_1">
                            <h4 class="ch-4 u-spacer-bottom-xs u-text-center">Nom du document*</h4>
                            <p class="u-m-0 u-text-center"><small>Cliquez pour uploader.</small> <small>réf: <b>1397813.PRS.01</b></small></p>
                            @(Html.Kendo().Upload()
                                .Name("files1")
                                .DropZone(".dropdown_zone_1")
                                .Async(a => a
                                .Save("Chunk_Upload_Save", "Upload")
                                .Remove("Chunk_Upload_Remove", "Upload")
                                .AutoUpload(true)
                                .ChunkSize(11000)
                                )
                                .Validation(validation =>
                                    {
                                        validation.MaxFileSize(20000000);
                                    })
                             )
                        </div>
                        <div class="dropdown_zone dropdown_zone_2">
                            <h4 class="ch-4 u-spacer-bottom-xs u-text-center">Nom du document</h4>
                            <p class="u-m-0 u-text-center"><small>Cliquez pour uploader</small></p>

                            @(Html.Kendo().Upload()
                                .Name("files2")
                                .DropZone(".dropdown_zone_2")
                                .Async(a => a
                                .Save("Chunk_Upload_Save", "Upload")
                                .Remove("Chunk_Upload_Remove", "Upload")
                                .AutoUpload(true)
                                .ChunkSize(11000)
                                )
                                .Validation(validation =>
                                    {
                                        validation.MaxFileSize(20000000);
                                    })
                             )
                        </div>
                        <div class="dropdown_zone dropdown_zone_3">
                            <h4 class="ch-4 u-spacer-bottom-xs u-text-center">Nom du document*</h4>
                            <p class="u-m-0 u-text-center"><small>Cliquez pour uploader</small></p>

                            @(Html.Kendo().Upload()
                                .Name("files3")
                                .DropZone(".dropdown_zone_3")
                                .Async(a => a
                                .Save("Chunk_Upload_Save", "Upload")
                                .Remove("Chunk_Upload_Remove", "Upload")
                                .AutoUpload(true)
                                .ChunkSize(11000)
                                )
                                .Validation(validation =>
                                {
                                    validation.MaxFileSize(20000000);
                                })
                                )
                        </div>
                        <div class="dropdown_zone dropdown_zone_4">
                            <h4 class="ch-4 u-spacer-bottom-xs u-text-center">Nom du document</h4>
                            <p class="u-m-0 u-text-center"><small>Cliquez pour uploader</small></p>

                            @(Html.Kendo().Upload()
                                .Name("files4")
                                .DropZone(".dropdown_zone_4")
                                .Async(a => a
                                .Save("Chunk_Upload_Save", "Upload")
                                .Remove("Chunk_Upload_Remove", "Upload")
                                .AutoUpload(true)
                                .ChunkSize(11000)
                                )
                                .Validation(validation =>
                                {
                                    validation.MaxFileSize(20000000);
                                })
                                )
                        </div>
                        <div class="dropdown_zone dropdown_zone_5">
                            <h4 class="ch-4 u-spacer-bottom-xs u-text-center">Nom du document</h4>
                            <p class="u-m-0 u-text-center"><small>Cliquez pour uploader</small></p>

                            @(Html.Kendo().Upload()
                                .Name("files5")
                                .DropZone(".dropdown_zone_5")
                                .Async(a => a
                                .Save("Chunk_Upload_Save", "Upload")
                                .Remove("Chunk_Upload_Remove", "Upload")
                                .AutoUpload(true)
                                .ChunkSize(11000)
                                )
                                .Validation(validation =>
                                {
                                    validation.MaxFileSize(20000000);
                                })
                                )
                        </div>
                        <div class="dropdown_zone dropdown_zone_5">
                            <h4 class="ch-4 u-spacer-bottom-xs u-text-center">Nom du document</h4>
                            <p class="u-m-0 u-text-center"><small>Cliquez pour uploader</small></p>

                            @(Html.Kendo().Upload()
                                .Name("files6")
                                .DropZone(".dropdown_zone_6")
                                .Async(a => a
                                .Save("Chunk_Upload_Save", "Upload")
                                .Remove("Chunk_Upload_Remove", "Upload")
                                .AutoUpload(true)
                                .ChunkSize(11000)
                                )
                                .Validation(validation =>
                                {
                                    validation.MaxFileSize(20000000);
                                })
                                )
                        </div>
                   
                    </div>

                    <p><small>*documents obligatoire. Tous les documents uploadés doivent être signés.</small></p>

                    <div class="c-panel--yellow u-padding-l c-panel--border-r-sm u-spacer-top-l" id="acceptation">
                                <div class="o-flex-bp1-m o-block-bp2 o-flex-bp3 u-flex--twins o-flex--vertical-center">
                                    <div class="u-spacer-right-s">
                                        <p>Uploadez les documents obligatoires* et signés* pour pouvoir valider</p>
                                    </div>
                                    <div class="u-t-align-right">
                                        <button type="submit" class="c-button c-button--warning" href="http://localhost:3000/examples/template-examples/terms-and-conditions--after-acceptation.html" disabled="">
                                            <span class="c-button__content">
                                                <div class="o-svg-icon o-svg-icon-check  ">
                                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M20.6644 5.25259C21.0772 5.61951 21.1143 6.25158 20.7474 6.66436L10.0808 18.6644C9.89099 18.8779 9.61898 19 9.33334 19C9.04771 19 8.7757 18.8779 8.58593 18.6644L3.2526 12.6644C2.88568 12.2516 2.92286 11.6195 3.33565 11.2526C3.74843 10.8857 4.3805 10.9229 4.74742 11.3356L9.33334 16.4948L19.2526 5.33564C19.6195 4.92285 20.2516 4.88567 20.6644 5.25259Z" fill="#595959"></path>
                                                    </svg>
                                                </div>
                                                <span class="c-button__label">Confirmer</span>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <style>
        .dropdown_zone{
            border: 1px dashed #B3B3B3;
            padding: 20px;
            width: 100%;
            margin-top: 12px;
            border-top-right-radius: 0;
            border-bottom-rigth-radius: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-radius: 4px;
        }

        @@media screen and (min-width: 900px) {
            .dropdown_zone {
                width: 50%;
                 border-bottom-right-radius: 0;
                 border-top-right-radius: 0;
        }

            .dropdown_zone + .dropdown_zone:nth-child(2n+2) {
                border-left: none;
            }

            .dropdown_zone:nth-child(2n+2) {
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }

        .k-upload .k-dropzone, .k-upload .k-upload-dropzone{
            justify-content: center;
            background-color: transparent;
        }

        .k-upload{
            border: none;
        }

        .k-upload .k-upload-files, .k-upload .k-file{
            border: none;
        }

        .k-button.k-button-solid-base{
            background-image: none;
        }
        .k-button.k-button-md {
            padding-top: .7rem;
            padding-bottom: .7rem;
            padding-right: 1.6rem;
            padding-left: 1.6rem;
            height: 38px;
        }
        .k-upload-status{
            margin-left: 1.6rem;
        }
        .k-upload .k-upload-files .k-file{
            border: none;
            margin-bottom: .4rem;
        }
    </style>
