@page
@model Smart.Design.Library.Showcase.Pages.Components.Card.Card
@{
    ViewData["MainTitle"] = "Components documentation";
    ViewData["ComponentTitle"] = "Card";
}

<div class="u-padding-bottom-l">
    <h1 class="c-d-h2">@ViewData["MainTitle"]</h1>
</div>


<div class="o-grid">
    @await Html.PartialAsync("Shared/_ComponentList")
    <div class="o-grid-col-bp3-9">
        <div class="br-componentgroup-header-wrapper">
            <h1 class="br-componentgroup-header c-d-h2">@ViewData["ComponentTitle"]</h1>
            <p><b>Status:</b> Incomplete</p>
        </div>
        <div class="br-content c-content">
            <p>A card can be constitued with : Title, image, body and/or button toolbar</p>
            <p>See : <a href="https://design.smart.coop/development/docs/c-card.html">https://design.smart.coop/development/docs/c-card.html</a></p>
            <p class="c-menu__item--danger">Le taghelper smart-body existant (en lieu et place de smart-subline ?) : il a été utilisé ici pour afficher son rendu</p>
        </div>
        <div class="br-sample" id="component-01-card">
            <div class="br-sample-header br-sample-clearfix">
                <h3 class="br-sample-heading c-h3">Card</h3>
                <a class="br-sample-header-link" href="#component-01-card">#</a>
            </div>
            <div class="br-sample-documentation c-content"></div>
            <div class="br-sample-content">
                <smart-card>
                    <smart-card-title text="Title : Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tristique mauris eget efficitur iaculis. Phasellus quis ligula tempus"></smart-card-title>
                    <smart-card-body>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tristique mauris eget efficitur iaculis. Phasellus quis ligula tempus, commodo velit sed, facilisis lorem. Proin efficitur enim in arcu tristique, sit amet pellentesque elit luctus. Morbi at scelerisque dolor. Nunc sit amet nulla tempus, imperdiet neque non, laoreet mauris. Sed auctor nulla gravida, venenatis nisi at, eleifend erat. Donec pharetra euismod sem non pretium. Pellentesque quis accumsan lorem. Donec tincidunt condimentum tortor quis fringilla. Vestibulum elementum urna mi.</smart-card-body>
                </smart-card>
                
            </div>
            <div class="br-sample-footer">
                <p class="c-menu__item--danger">Subline missing</p>
                <b>C# Code: </b>
                <pre class="br-sample-markup br-sample-markup-csharp">@("<smart-card><smart-card-title text=\"Title\"></smart-card-title><smart-card-body>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tristique mauris eget efficitur iaculis. Phasellus quis ligula tempus, commodo velit sed, facilisis lorem. Proin efficitur enim in arcu tristique, sit amet pellentesque elit luctus. Morbi at scelerisque dolor. Nunc sit amet nulla tempus, imperdiet neque non, laoreet mauris. Sed auctor nulla gravida, venenatis nisi at, eleifend erat. Donec pharetra euismod sem non pretium. Pellentesque quis accumsan lorem. Donec tincidunt condimentum tortor quis fringilla. Vestibulum elementum urna mi.</smart-card-body></smart-card>")</pre>
            </div>
        </div>
        <div class="br-sample" id="component-02-card">
            <div class="br-sample-header br-sample-clearfix">
                <h3 class="br-sample-heading c-h3">Card User</h3>
                <a class="br-sample-header-link" href="#component-02-card">#</a>
            </div>
            <div class="br-sample-documentation c-content"></div>
            <div class="br-sample-content">
                <p class="c-menu__item--danger">Card user missing</p>
            </div>
            <div class="br-sample-footer">
            </div>
        </div>
        <div class="br-sample" id="component-03-card">
            <div class="br-sample-header br-sample-clearfix">
                <h3 class="br-sample-heading c-h3">Card image</h3>
                <a class="br-sample-header-link" href="#component-03-card">#</a>
            </div>
            <div class="br-sample-documentation c-content"></div>
            <div class="br-sample-content">
                <smart-card>
                    <smart-card-image src="/images/1600x900.png"></smart-card-image>
                    <smart-card-title text="Title : Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tristique mauris eget efficitur iaculis. Phasellus quis ligula tempus"></smart-card-title>
                    <smart-card-body>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tristique mauris eget efficitur iaculis. Phasellus quis ligula tempus, commodo velit sed, facilisis lorem. Proin efficitur enim in arcu tristique, sit amet pellentesque elit luctus. Morbi at scelerisque dolor. Nunc sit amet nulla tempus, imperdiet neque non, laoreet mauris. Sed auctor nulla gravida, venenatis nisi at, eleifend erat. Donec pharetra euismod sem non pretium. Pellentesque quis accumsan lorem. Donec tincidunt condimentum tortor quis fringilla. Vestibulum elementum urna mi.</smart-card-body>
                </smart-card>
            </div>
            <div class="br-sample-footer">
                <b>C# Code: </b>
                <pre class="br-sample-markup br-sample-markup-csharp">@("<smart-card><smart-card-image src=\"/images/1600x900.png\"></smart-card-image><smart-card-title text=\"Title lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tristique mauris eget efficitur iaculis. Phasellus quis ligula tempus\"></smart-card-title><smart-card-body>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tristique mauris eget efficitur iaculis. Phasellus quis ligula tempus, commodo velit sed, facilisis lorem. Proin efficitur enim in arcu tristique, sit amet pellentesque elit luctus. Morbi at scelerisque dolor. Nunc sit amet nulla tempus, imperdiet neque non, laoreet mauris. Sed auctor nulla gravida, venenatis nisi at, eleifend erat. Donec pharetra euismod sem non pretium. Pellentesque quis accumsan lorem. Donec tincidunt condimentum tortor quis fringilla. Vestibulum elementum urna mi.</smart-card-body></smart-card>")</pre>
            </div>
        </div>
        <div class="br-sample" id="component-04-card">
            <div class="br-sample-header br-sample-clearfix">
                <h3 class="br-sample-heading c-h3">Card with actions</h3>
                <a class="br-sample-header-link" href="#component-04-card">#</a>
            </div>
            <div class="br-sample-documentation c-content"></div>
            <div class="br-sample-content">
                <smart-card>
                    <smart-card-title text="Title : Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tristique mauris eget efficitur iaculis. Phasellus quis ligula tempus"></smart-card-title>
                    <smart-card-body>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tristique mauris eget efficitur iaculis. Phasellus quis ligula tempus, commodo velit sed, facilisis lorem. Proin efficitur enim in arcu tristique, sit amet pellentesque elit luctus. Morbi at scelerisque dolor. Nunc sit amet nulla tempus, imperdiet neque non, laoreet mauris. Sed auctor nulla gravida, venenatis nisi at, eleifend erat. Donec pharetra euismod sem non pretium. Pellentesque quis accumsan lorem. Donec tincidunt condimentum tortor quis fringilla. Vestibulum elementum urna mi.</smart-card-body>
                    <smart-card-actions>
                        <smart-button-toolbar><smart-button button-style="Borderless" leading-icon="Edit" icon-only label="Edit"></smart-button><smart-button button-style="Borderless" leading-icon="Delete" icon-only label="Delete"></smart-button></smart-button-toolbar>
                    </smart-card-actions>
                </smart-card>
            </div>
            <div class="br-sample-footer">
                <b>C# Code: </b>
                <pre class="br-sample-markup br-sample-markup-csharp">@("<smart-card><smart-card-title text=\"Title lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tristique mauris eget efficitur iaculis. Phasellus quis ligula tempus\"></smart-card-title><smart-card-body>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tristique mauris eget efficitur iaculis. Phasellus quis ligula tempus, commodo velit sed, facilisis lorem.Proin efficitur enim in arcu tristique, sit amet pellentesque elit luctus. Morbi at scelerisque dolor. Nunc sit amet nulla tempus, imperdiet neque non, laoreet mauris. Sed auctor nulla gravida, venenatis nisi at, eleifend erat.Donec pharetra euismod sem non pretium. Pellentesque quis accumsan lorem. Donec tincidunt condimentum tortor quis fringilla. Vestibulum elementum urna mi.</smart-card-body><smart-card-actions><smart-button-toolbar><smart-button button-style=\"Borderless\" leading-icon =\"Edit\" icon-only label=\"Edit\"></smart-button><smart-button button-style=\"Borderless\" leading-icon=\"Delete\" icon-only label= \"Delete\"></smart-button></smart-button-toolbar></smart-card-actions></smart-card>")</pre>
            </div>
        </div>
    </div>
</div>
