@page
@model Smart.Design.Library.Showcase.Pages.Components.Button.ButtonModel
@{
    ViewData["MainTitle"] = "Components documentation";
    ViewData["ComponentTitle"] = "Button";
}

<div class="u-padding-bottom-l">
    <h1 class="c-h2">@ViewData["MainTitle"]</h1>
</div>


<div class="o-grid">
    @await Html.PartialAsync("Shared/_ComponentList")
    <div class="o-grid-col-bp3-9">
        <div class="br-componentgroup-header-wrapper">
            <h1 class="br-componentgroup-header c-h2">@ViewData["ComponentTitle"]</h1>
            <p><b>Status:</b> incomplete</p>
        </div>
        <div class="br-content c-content">
            <p>This page documents the different button skins and types.</p>
        </div>
        <div class="br-sample" id="component-01-c-button-primary">
            <div class="br-sample-header br-sample-clearfix">
                <h3 class="br-sample-heading c-h3">Button highlight</h3>
            </div>
            <div class="br-sample-documentation c-content c-menu__item--danger">This is missing</div>
            <div class="br-sample-content">
                <button class="c-button c-button--highlights" type="button" disabled="">
                    <span class="c-button__content">
                        <span class="c-button__label">Contact</span>
                            <div class="o-svg-icon o-svg-icon-external-link  ">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M14 5C13.7348 5 13.4804 4.89464 13.2929 4.70711C13.1054 4.51957 13 4.26522 13 4C13 3.73478 13.1054 3.48043 13.2929 3.29289C13.4804 3.10536 13.7348 3 14 3H20C20.2652 3 20.5196 3.10536 20.7071 3.29289C20.8946 3.48043 21 3.73478 21 4V10C21 10.2652 20.8946 10.5196 20.7071 10.7071C20.5196 10.8946 20.2652 11 20 11C19.7348 11 19.4804 10.8946 19.2929 10.7071C19.1054 10.5196 19 10.2652 19 10V6.414L9.707 15.707C9.5184 15.8892 9.2658 15.99 9.0036 15.9877C8.7414 15.9854 8.49059 15.8802 8.30518 15.6948C8.11977 15.5094 8.0146 15.2586 8.01233 14.9964C8.01005 14.7342 8.11084 14.4816 8.293 14.293L17.586 5H14ZM3 7C3 6.46957 3.21071 5.96086 3.58579 5.58579C3.96086 5.21071 4.46957 5 5 5H10C10.2652 5 10.5196 5.10536 10.7071 5.29289C10.8946 5.48043 11 5.73478 11 6C11 6.26522 10.8946 6.51957 10.7071 6.70711C10.5196 6.89464 10.2652 7 10 7H5V19H17V14C17 13.7348 17.1054 13.4804 17.2929 13.2929C17.4804 13.1054 17.7348 13 18 13C18.2652 13 18.5196 13.1054 18.7071 13.2929C18.8946 13.4804 19 13.7348 19 14V19C19 19.5304 18.7893 20.0391 18.4142 20.4142C18.0391 20.7893 17.5304 21 17 21H5C4.46957 21 3.96086 20.7893 3.58579 20.4142C3.21071 20.0391 3 19.5304 3 19V7Z" fill="#595959"></path>
                                 </svg>
                             </div>
                        </span>
                </button>
            </div>
            <div class="br-sample-footer">
                <b>C# Code: </b> Not developed in DS yet. This is pure HTML.
            </div>
        </div>
        <div class="br-sample" id="component-01-c-button-primary">
            <div class="br-sample-header br-sample-clearfix">
                <h3 class="br-sample-heading c-h3">Button primary</h3>
            </div>
            <div class="br-sample-content">
                <smart-button label="Button Label" data="toggle:disabled, switch-target: c-button--warning"></smart-button>
                <smart-button label="Button Label" disabled></smart-button>
            </div>
            <div class="br-sample-footer">
                <button class="br-sample-show-code-btn br-sample-show-code-btn-html c-button c-button--secondary c-button--small">Show HTML code</button>
                <button class="br-sample-show-code-btn br-sample-show-code-btn-csharp c-button c-button--secondary c-button--small">Show C# code</button>
                <div class="br-sample-code br-sample-code-html">
                    <button class="br-sample-copy-code-btn c-button c-button--secondary c-button--small">Copy to clipboard</button>
                    <pre class="test">

                    </pre>
                </div>
                <div class="br-sample-code br-sample-code-csharp">
                    <button class="br-sample-copy-code-btn c-button c-button--secondary c-button--small">Copy to clipboard</button>
                    <pre class="br-sample-markup br-sample-markup-csharp">@("<smart-button label=\"Button Label\"></smart-button>")</pre>
                    <pre class="br-sample-markup br-sample-markup-csharp">@("<smart-button label=\"Button Label\" disabled></smart-button>")</pre>
                </div>
            </div>
        </div>
        <div class="br-sample" id="component-01-c-button-primary">
            <div class="br-sample-header br-sample-clearfix">
                <h3 class="br-sample-heading c-h3">Button Secondary</h3>
            </div>
            <div class="br-sample-content">
                <smart-button button-style="Secondary" label="Button Label"></smart-button>
                <smart-button button-style="Secondary" label="Button Label" disabled></smart-button>
            </div>
            <div class="br-sample-footer">
                <b>C# Code: </b>
                <pre class="br-sample-markup br-sample-markup-csharp">
                    @("<smart-button button-style=\"Secondary\" label=\"Button Label\"></smart-button>")
                    @("<smart-button button-style=\"Secondary\" label=\"Button Label\" disabled></smart-button>")
               </pre>
            </div>
        </div>
        <div class="br-sample" id="component-01-c-button-primary">
            <div class="br-sample-header br-sample-clearfix">
                <h3 class="br-sample-heading c-h3">Button Danger and DangerSecondary</h3>
            </div>
            <div class="br-sample-content">
                <smart-button button-style="Danger" label="Button Label"></smart-button>
                <smart-button button-style="DangerSecondary" label="Button Label" disabled></smart-button>
            </div>
            <div class="br-sample-footer">
                <b>C# Code: </b>
                 <pre class="br-sample-markup br-sample-markup-csharp">@("<smart-button button-style=\"Danger\" label=\"Button Label\"></smart-button>")</pre>
                <pre class="br-sample-markup br-sample-markup-csharp">@("<smart-button button-style=\"DangerSecondary\" label=\"Button Label\"></smart-button>")</pre>
            </div>
        </div>
        <div class="br-sample" id="component-01-c-button-primary">
            <div class="br-sample-header br-sample-clearfix">
                <h3 class="br-sample-heading c-h3">Button Warning</h3>
            </div>
            <div class="br-sample-documentation c-content c-menu__item--danger">This is missing</div>
            <div class="br-sample-content">
                <button class="c-button c-button--warning" type="button">
                            <span class="c-button__content">
                                <span class="c-button__label">Button label</span>
                            </span>
                        </button>
                <button class="c-button c-button--warning" type="button" disabled>
                            <span class="c-button__content">
                                <span class="c-button__label">Button label</span>
                            </span>
                        </button>
            </div>
            <div class="br-sample-footer">
                <b>C# Code: </b> Not developed in DS yet. This is pure HTML, but it has been done for CURU by Céline.
            </div>
        </div>
        <div class="br-sample" id="component-01-c-button-primary">
            <div class="br-sample-header br-sample-clearfix">
                <h3 class="br-sample-heading c-h3">Button Borderless</h3>
            </div>
            <div class="br-sample-content">
                <smart-button button-style="Borderless" label="Button Label"></smart-button>
                <smart-button button-style="Borderless" label="Button Label" disabled></smart-button>
            </div>
            <div class="br-sample-footer">
                <b>C# Code: </b>
                 <pre class="br-sample-markup br-sample-markup-csharp">@("<smart-button button-style=\"Borderless\" label=\"Button Label\"></smart-button>")</pre>
                <pre class="br-sample-markup br-sample-markup-csharp">@("<smart-button button-style=\"Borderless\" label=\"Button Label\" disabled></smart-button>")</pre>
            </div>
        </div>
        <div class="br-sample" id="component-01-c-button-primary">
            <div class="br-sample-header br-sample-clearfix">
                <h3 class="br-sample-heading c-h3">Leading icon button</h3>
            </div>
            <div class="br-sample-content">
                <smart-button button-style="Secondary" leading-icon="Add" label="Button Label"></smart-button>
                <smart-button button-style="Secondary" leading-icon="Add" label="Button Label" disabled></smart-button>
            </div>
            <div class="br-sample-footer">
                <b>C# Code: </b>
                 <pre class="br-sample-markup br-sample-markup-csharp">@("<smart-button button-style=\"Secondary\" leading-icon=\"Add\" label=\"Button Label\"></smart-button>")</pre>
                <pre class="br-sample-markup br-sample-markup-csharp">@("<smart-button button-style=\"Secondary\" leading-icon=\"Add\" label=\"Button Label\" disabled></smart-button>")</pre>
            </div>
        </div>
        <div class="br-sample" id="component-01-c-button-primary">
            <div class="br-sample-header br-sample-clearfix">
                <h3 class="br-sample-heading c-h3">Trailing icon button</h3>
            </div>
            <div class="br-sample-content">
                <smart-button button-style="Secondary" trailing-icon="Add" label="Button Label"></smart-button>
                <smart-button button-style="Secondary" trailing-icon="Add" label="Button Label" disabled></smart-button>
            </div>
            <div class="br-sample-footer">
                <b>C# Code: </b>
                 <pre class="br-sample-markup br-sample-markup-csharp">@("<smart-button button-style=\"Secondary\" trailing-icon=\"Add\" label=\"Button Label\"></smart-button>")</pre>
                <pre class="br-sample-markup br-sample-markup-csharp">@("<smart-button button-style=\"Secondary\" trailing-icon=\"Add\" label=\"Button Label\" disabled></smart-button>")</pre>
            </div>
        </div>
        <div class="br-sample" id="component-01-c-button-primary">
            <div class="br-sample-header br-sample-clearfix">
                <h3 class="br-sample-heading c-h3">button icon only</h3>
            </div>
            <div class="br-sample-content">
                <smart-button button-style="Primary" leading-icon="Add" icon-only label="Button Label"></smart-button>
                <smart-button button-style="Secondary" leading-icon="Add" icon-only label="Button Label"></smart-button>
            </div>
            <div class="br-sample-footer">
                <b>C# Code: </b>
                 <pre class="br-sample-markup br-sample-markup-csharp">@("<smart-button button-style=\"Primary\" leading-icon=\"Add\" icon-only label=\"Button Label\"></smart-button>")</pre>
                 <pre class="br-sample-markup br-sample-markup-csharp">@("<smart-button button-style=\"Secondary\" leading-icon=\"Add\" icon-only label=\"Button Label\"></smart-button>")</pre>
            </div>
        </div>
         <div class="br-sample" id="component-01-c-button-primary">
            <div class="br-sample-header br-sample-clearfix">
                <h3 class="br-sample-heading c-h3">Button Loading</h3>
            </div>
            <div class="br-sample-documentation c-content c-menu__item--danger">This is missing</div>
            <div class="br-sample-content">
                <button class="c-button c-button--secondary c-button--loading" type="button" disabled="disabled">
                            <div class="c-loader"></div>
                            <span class="c-button__content">
                                <span class="c-button__label">Button label</span>
                            </span>
                        </button>
            </div>
            <div class="br-sample-footer">
                <b>C# Code: </b> Not developed in DS yet. This is pure HTML.
            </div>
        </div>
        <div class="br-componentgroup-footer-wrapper">
                    <h1 class="br-componentgroup-footer c-h2">Possible parameters for button</h1>
                    <div class="br-content c-content">
                        <table class="c-table">
                            <thead>
                                <tr>
                                    <th>Parameters</th>
                                    <th>Type</th>
                                    <th>Possible values</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Label</td>
                                    <td>string</td>
                                    <td>
                                        Any text.
                                    </td>
                                    <td>Determines the text label of the button</td>
                                </tr>
                                <tr>
                                    <td>button-style</td>
                                    <td>string</td>
                                    <td>
                                        <code>Highlight (missing)</code>, <code>Primary</code>, <code>Secondary</code>, <code>Borderless</code>, <code>Danger</code>, <code>DangerSecondary</code>, <code>Warning (missing)</code>
                                    </td>
                                    <td>Determines how the button is visually rendered.</td>
                                </tr>
                                <tr>
                                    <td>leading-icon</td>
                                    <td>string</td>
                                    <td>See <a href="/todo:addLinkToIconsWhenREady">icon style guide</a> for available icons.</td>
                                    <td>This parameter is used for buttons with icons on the <b>left side</b></td>
                                </tr>
                                <tr>
                                    <td>icon-only</td>
                                    <td>Parameter only</td>
                                    <td>No value needed</td>
                                    <td>This parameter is used for buttons without Label. The <code>leading-icon</code> must be set.</td>
                                </tr>
                                 <tr>
                                    <td>trailing-icon</td>
                                    <td>string</td>
                                    <td>See <a href="/todo:addLinkToIconsWhenREady">icon style guide</a> for available icons.</td>
                                    <td>This parameter is used for buttons with icons on the <b>right side</b></td>
                                </tr>
                                <tr>
                                    <td>type</td>
                                    <td>string</td>
                                    <td>
                                        <code>button</code>, <code>submit</code>
                                    </td>
                                    <td>The default value is <code>button</code>.</td>
                                </tr>
                                <tr>
                                    <td>href</td>
                                    <td>string</td>
                                    <td>This can be any url or id.</td>
                                    <td>If this parameter is used then this button will automatically become a link.</td>
                                </tr>
                                <tr>
                                    <td>isBlock</td>
                                    <td>boolean</td>
                                    <td>
                                        <code>true</code>, <code>false</code>
                                    </td>
                                    <td>Determines if the button is a full width block button. The default state is <code>false</code>
                                    </td>
                                </tr>
                                <tr>
                                    <td>isLoading (missing)</td>
                                    <td>boolean</td>
                                    <td>
                                        <code>true</code>, <code>false</code>
                                    </td>
                                    <td>Determines if the button has a loading state. The default state is <code>false</code>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>

    </div>
</div>
