@page
@model Smart.Design.Library.Showcase.Pages.Components.Grid.Grid
@{
    ViewData["MainTitle"] = "Components documentation";
    ViewData["ComponentTitle"] = "Grid";
}

<div class="u-padding-bottom-l">
    <h1 class="c-h2">@ViewData["MainTitle"]</h1>
</div>


<div class="o-grid">
    @await Html.PartialAsync("Shared/_ComponentList")
    <div class="o-grid-col-bp3-9">
        <div class="br-componentgroup-header-wrapper">
            <h1 class="br-componentgroup-header c-h2">@ViewData["ComponentTitle"]</h1>
            <p class="c-menu__item--danger"><b>Status:</b> Incomplet</p>
        </div>
        <div class="br-content c-content">
            <p>Documentation for Grid</p>
        </div>
        <div class="br-sample" id="component-01-c-button-primary">
            <div class="br-sample-header br-sample-clearfix">
                <h3 class="br-sample-heading c-h3">Grid</h3>
            </div>
            <div class="br-sample-documentation c-content">
                <div class="br-sample-documentation c-content ">
                    <p>12 columns based grid for easily layouting forms and other components. This uses flexbox internally.</p>
                    <h4 class="c-h4">Responsive grid:</h4>
                    <p>To make grid-column responsive, use the breakpoints in between the class name</p>
                    <h5 class="c-h5">Examples:</h5>
                    <p><code>.o-grid-col-bp1-1</code> for a column width of 1 only when window size is wider than <code>400px</code></p>
                    <p><code>.o-grid-col-bp3-6</code> for a column width of 6 only when window size is wider than <code>900px</code></p>
                    <h5 class="c-h5">Breakpoints:</h5>
                    <ul>
                        <li>bp1: 400px</li>
                        <li>bp2: 600px</li>
                        <li>bp2m: 700px</li>
                        <li>bp3: 900px</li>
                        <li>bp4: 1200px</li>
                    </ul>

                </div>
            </div>
            <div class="br-styleguide">
                <div class="br-sample-content" id="component-01-o-grid">
                    <smart-grid>
                        <smart-grid-column width="12">12</smart-grid-column>
                        <smart-grid-column width="12">12</smart-grid-column>
                        <smart-grid-column width="6">6</smart-grid-column>
                        <smart-grid-column width="6">6</smart-grid-column>
                        <smart-grid-column width="6">6</smart-grid-column>
                        <smart-grid-column width="6">6</smart-grid-column>
                        <smart-grid-column width="4">4</smart-grid-column>
                        <smart-grid-column width="4">4</smart-grid-column>
                        <smart-grid-column width="4">4</smart-grid-column>
                        <smart-grid-column width="4">4</smart-grid-column>
                        <smart-grid-column width="4">4</smart-grid-column>
                        <smart-grid-column width="4">4</smart-grid-column>
                        <smart-grid-column width="3">3</smart-grid-column>
                        <smart-grid-column width="3">3</smart-grid-column>
                        <smart-grid-column width="3">3</smart-grid-column>
                        <smart-grid-column width="3">3</smart-grid-column>
                        <smart-grid-column width="3">3</smart-grid-column>
                        <smart-grid-column width="3">3</smart-grid-column>
                        <smart-grid-column width="3">3</smart-grid-column>
                        <smart-grid-column width="3">3</smart-grid-column>
                        <smart-grid-column width="2">2</smart-grid-column>
                        <smart-grid-column width="2">2</smart-grid-column>
                        <smart-grid-column width="2">2</smart-grid-column>
                        <smart-grid-column width="2">2</smart-grid-column>
                        <smart-grid-column width="2">2</smart-grid-column>
                        <smart-grid-column width="2">2</smart-grid-column>
                        <smart-grid-column width="1">1</smart-grid-column>
                        <smart-grid-column width="1">1</smart-grid-column>
                        <smart-grid-column width="1">1</smart-grid-column>
                        <smart-grid-column width="1">1</smart-grid-column>
                        <smart-grid-column width="1">1</smart-grid-column>
                        <smart-grid-column width="1">1</smart-grid-column>
                        <smart-grid-column width="1">1</smart-grid-column>
                        <smart-grid-column width="1">1</smart-grid-column>
                        <smart-grid-column width="1">1</smart-grid-column>
                        <smart-grid-column width="1">1</smart-grid-column>
                        <smart-grid-column width="1">1</smart-grid-column>
                        <smart-grid-column width="1">1</smart-grid-column>
                        <div class="o-grid-col-static">This column will adapt to its content.</div>
                        <div class="o-grid-col-flex">This column will fill the remaining space.</div>
                    </smart-grid>
                 </div>
                <div class="br-sample-footer">
                    <b>HTML and C# Code: </b>
                    <pre class="br-sample-markup br-sample-markup-csharp">
@("<smart-grid>3")
    @("<smart-grid-column width=\"12\">12</smart-grid-column>")
    @("<smart-grid-column width=\"12\">12</smart-grid-column>")
    @("<smart-grid-column width=\"6\">6</smart-grid-column>")
    @("<smart-grid-column width=\"6\">6</smart-grid-column>")
    @("<smart-grid-column width=\"6\">6</smart-grid-column>")
    @("<smart-grid-column width=\"6\">6</smart-grid-column>")
    @("<smart-grid-column width=\"4\">4</smart-grid-column>")
    @("<smart-grid-column width=\"4\">4</smart-grid-column>")
    @("<smart-grid-column width=\"4\">4</smart-grid-column>")
    @("<smart-grid-column width=\"4\">4</smart-grid-column>")
    @("<smart-grid-column width=\"4\">4</smart-grid-column>")
    @("<smart-grid-column width=\"4\">4</smart-grid-column>")
    @("<smart-grid-column width=\"3\">3</smart-grid-column>")
    @("<smart-grid-column width=\"3\">3</smart-grid-column>")
    @("<smart-grid-column width=\"3\">3</smart-grid-column>")
    @("<smart-grid-column width=\"3\">3</smart-grid-column>")
    @("<smart-grid-column width=\"3\">3</smart-grid-column>")
    @("<smart-grid-column width=\"3\">3</smart-grid-column>")
    @("<smart-grid-column width=\"3\">3</smart-grid-column>")
    @("<smart-grid-column width=\"3\">3</smart-grid-column>")
    @("<smart-grid-column width=\"2\">2</smart-grid-column>")
    @("<smart-grid-column width=\"2\">2</smart-grid-column>")
    @("<smart-grid-column width=\"2\">2</smart-grid-column>")
    @("<smart-grid-column width=\"2\">2</smart-grid-column>")
    @("<smart-grid-column width=\"2\">2</smart-grid-column>")
    @("<smart-grid-column width=\"2\">2</smart-grid-column>")
    @("<smart-grid-column width=\"1\">1</smart-grid-column>")
    @("<smart-grid-column width=\"1\">1</smart-grid-column>")
    @("<smart-grid-column width=\"1\">1</smart-grid-column>")
    @("<smart-grid-column width=\"1\">1</smart-grid-column>")
    @("<smart-grid-column width=\"1\">1</smart-grid-column>")
    @("<smart-grid-column width=\"1\">1</smart-grid-column>")
    @("<smart-grid-column width=\"1\">1</smart-grid-column>")
    @("<smart-grid-column width=\"1\">1</smart-grid-column>")
    @("<smart-grid-column width=\"1\">1</smart-grid-column>")
    @("<smart-grid-column width=\"1\">1</smart-grid-column>")
    @("<smart-grid-column width=\"1\">1</smart-grid-column>")
    @("<smart-grid-column width=\"1\">1</smart-grid-column>")
    @("<div class=\"o-grid-col-static\">This column will adapt to its content.</div>")
    @("<div class=\"o-grid-col-flex\">This column will fill the remaining space.</div>")
@("</smart-grid>")</pre>
                </div>
            </div>
            <div class="br-componentgroup-footer-wrapper">
                <h1 class="br-componentgroup-footer c-h4">Possible parameters for Grid</h1>
                <div class="br-content c-content">
                    <table class="c-table">
                        <thead>
                            <tr>
                                <th>Parameters</th>
                                <th>Type</th>
                                <th>Possible values</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>width</td>
                                <td>int</td>
                                <td>Working with the "smart-grid-column" Tag Helper</td>
                                <td></td>
                            </tr>                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
