@page
@model Smart.Design.Library.Showcase.Pages.Components.Select.Select
@{
    ViewData["MainTitle"] = "Components documentation";
    ViewData["ComponentTitle"] = "Select";
}

<div class="u-padding-bottom-l">
    <h1 class="c-h2">@ViewData["MainTitle"]</h1>
</div>


<div class="o-grid">
    @await Html.PartialAsync("Shared/_ComponentList")
    <div class="o-grid-col-bp3-9">
        <div class="br-componentgroup-header-wrapper">
            <h1 class="br-componentgroup-header c-h2">@ViewData["ComponentTitle"]</h1>
            <p><b>Status:</b> Complete</p>
        </div>
        <div class="br-sample" id="component-01-c-select">
            <div class="br-sample-header br-sample-clearfix">
                <h3 class="br-sample-heading c-h3">Text select</h3>
                <a class="br-sample-header-link" href="#component-01-c-select">#</a>
            </div>
            <div class="br-sample-documentation c-content">
                <p>A standard select HTML element.</p>
            </div>

            @{
                Dictionary<string, string> items = new Dictionary<string, string>{            { "Item 1", "value1" },            { "Item 2", "value2"}            };
            }

            <div class="br-sample-content">
                <smart-select id="select" name="select" items="@items"   defautValueLabel="Default value"></smart-select>
            </div>
            <div class="br-sample-footer">
                <b>C# Code: </b>
                <pre class="br-sample-markup br-sample-markup-csharp">
@("Dictionary<string, string> items = new Dictionary<string, string>{")
    @("{ \"Item 1\", \"value1\" },")
    @("{ \"Item 2\", \"value2\"}")
@("};")
@("<smart-select  items=\"@items\" id=\"select\" name=\"select\" defautValueLabel=\"Default value\">")
@("</smart-select>")</pre>
            </div>
        </div>

        <div class="br-componentgroup-footer-wrapper">
            <h1 class="br-componentgroup-footer c-h4">Possible parameters for Select</h1>
            <div class="br-content c-content">
                <table class="c-table">
                    <thead>
                        <tr>
                            <th>Parameters</th>
                            <th>Type</th>
                            <th>Possible values</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>id</td>
                            <td>string</td>
                            <td>Id attribute of the element</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>name</td>
                            <td>string</td>
                            <td>
                                Name attribute of the element
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>items</td>
                            <td>C# dictionary</td>
                            <td>
                                Select option's list
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>defautValueLabel</td>
                            <td>string</td>
                            <td>
                                Default Value
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>for</td>
                            <td>ModelExpression</td>
                            <td>
                                The ModelExpression associated to the html element
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </div>
</div>


