@page
@model Smart.Design.Library.Showcase.Pages.Templates.Dialog.DialogTestModel
@using Kendo.Mvc.UI
@addTagHelper *, Kendo.Mvc
@{
    ViewData["Title"] = "Dialog box page";
}

<style>
    #header, #footer {
        display: none !important;
    }

    main.o-container {
        width: 100% !important;
        max-width: 100% !important;
    }

    .c-app-layout {
        min-height: 100vh;
    }
</style>

@{
    Dictionary<string, string> SideMenuLabelsAndLinks = new Dictionary<string, string>
    {
        {
            "Home", "/home"
        },
        {
            "Prestations en cours", "/PedingPrestations"
        },
        {
            "Nouvelle prestation", "/NewPrestation"
        },
        {
            "Simulation", "/Simulation"
        },
        {
            "Activités et projets", "/projets"
        },
        {
            "Formateurs associés", "/u/cfa/home"
        }
    };

    Dictionary<string, string> labelsAndLinks = new Dictionary<string, string>
    {
        {
            "Vos informations personnelles", "/Info"
        },
        {
            "Vos documents", "/documents"
        },
        {
            "Mes véhicules", "/Templates/Dna/ListVehicule"
        },
        {
            "Votre compte", "/Votre compte"
        },
        {
            "Nos conditions d'utilisations", "~/unity/curu"
        },
        {
            "Vos Unité de Production", "/unityProduction"
        }
    };

    Dictionary<string, string> languagesAndLink = new Dictionary<string, string>
    {
        {
            "Français", "Link/Français"
        },
        {
            "English", "Link/English"
        },
        {
            "Nederlands", "Link/Nederlands"
        },
        {
            "Deutsh", "Link/Deutsh"
        }
    };

    string fullNameWithTrigram = "ling xiaoyu";
    string avatarPath = "imageAvatar";
    string currentLanguage = "fr";
}


<div class="c-app-layout">


    <smart-header home-page-url="/home" labels-and-links="@labelsAndLinks" languages-and-links="@languagesAndLink" full-name-with-trigram="@fullNameWithTrigram"
                  avatar-path="@avatarPath" target-language="@currentLanguage" logout-link="/logout.aspx">
    </smart-header>

    <main class="u-maximize-width">
        <div class="c-app-layout-inner">
            <div class="c-app-layout-inner__sidebar u-position-fixed">
                <smart-sidemenu label-and-links="SideMenuLabelsAndLinks"></smart-sidemenu>
            </div>
        </div>
    </main>

</div>
