@page
@model Smart.Design.Library.Showcase.Pages.Components.Tooltip.TooltipModel
@{
    ViewData["MainTitle"] = "Components documentation";
    ViewData["ComponentTitle"] = "Pagination";
}

<div class="u-padding-bottom-l">
    <h1 class="c-d-h2">@ViewData["MainTitle"]</h1>
</div>


<div class="o-grid">
@await Html.PartialAsync("Shared/_ComponentList")
<div class="o-grid-col-bp3-9">
<div class="br-componentgroup-header-wrapper">
    <h1 class="br-componentgroup-header c-d-h2">Pagination</h1>
    <p><b>Status:</b> Complete</p>
</div>
<div class="br-content c-content">
</div>
<div class="br-sample" id="component-01-c-pagination">
    <div class="br-sample-header br-sample-clearfix">
        <h3 class="br-sample-heading c-h3">Default</h3>
        <a class="br-sample-header-link" href="#component-01-c-pagination">#</a>
    </div>
    <div class="br-sample-documentation c-content"></div>
    <div class="br-sample-content">
        <nav class="c-pagination" aria-label="Page navigation">
            <ul class="c-pagination__nav">
                <li class="c-pagination__item">
                    <a class="c-button c-button--borderless c-button--icon" href="#" disabled="disabled">
                        <span class="c-button__content">
                            <div class="o-svg-icon o-svg-icon-chevron-left  ">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M14.7071 5.29289C15.0976 5.68342 15.0976 6.31658 14.7071 6.70711L9.41421 12L14.7071 17.2929C15.0976 17.6834 15.0976 18.3166 14.7071 18.7071C14.3166 19.0976 13.6834 19.0976 13.2929 18.7071L7.29289 12.7071C6.90237 12.3166 6.90237 11.6834 7.29289 11.2929L13.2929 5.29289C13.6834 4.90237 14.3166 4.90237 14.7071 5.29289Z" fill="#595959"></path>
                                </svg>
                            </div>
                            <div class="u-sr-accessible">
                            </div>
                        </span>
                    </a>
                </li>
                <li class="c-pagination__item c-pagination__item--active">
                    <a class="c-pagination__link" href="#">1</a>
                </li>
                <li class="c-pagination__item">
                    <a class="c-pagination__link" href="#">2</a>
                </li>
                <li class="c-pagination__item">
                    <a class="c-pagination__link" href="#">3</a>
                </li>
                <li class="c-pagination__item">
                    <a class="c-pagination__link" href="#">4</a>
                </li>
                <li class="c-pagination__item">
                    <a class="c-pagination__link" href="#">5</a>
                </li>
                <li class="c-pagination__item">
                    <a class="c-button c-button--borderless c-button--icon" href="#">
                        <span class="c-button__content">
                            <div class="o-svg-icon o-svg-icon-chevron-right  ">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.29289 18.7071C8.90237 18.3166 8.90237 17.6834 9.29289 17.2929L14.5858 12L9.29289 6.70711C8.90237 6.31658 8.90237 5.68342 9.29289 5.29289C9.68342 4.90237 10.3166 4.90237 10.7071 5.29289L16.7071 11.2929C17.0976 11.6834 17.0976 12.3166 16.7071 12.7071L10.7071 18.7071C10.3166 19.0976 9.68342 19.0976 9.29289 18.7071Z" fill="#595959"></path>
                                </svg>
                            </div>
                            <div class="u-sr-accessible">
                            </div>
                        </span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="br-sample-footer">
        <button class="br-sample-show-code-btn br-sample-show-code-btn-html c-button c-button--secondary c-button--small">Show HTML code</button>
        <div class="br-sample-code br-sample-code-html" style="">
            <button class="br-sample-copy-code-btn c-button c-button--secondary c-button--small">Copy to clipboard</button>
            <pre class="br-sample-markup br-sample-markup-html">
@("<nav class=\"c-pagination\" aria-label=\"Page navigation\">")
    @("<ul class=\"c-pagination__nav\">")
        @("<li class=\"c-pagination__item\">")
            @("<a class=\"c-button c-button--borderless c-button--icon\" href=\"#\" disabled=\"disabled\">")
                @("<span class=\"c-button__content\">")
                    @("<div class=\"o-svg-icon o-svg-icon-chevron-left  \">")
                        @("<svg width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">")
                            @("<path d=\"M14.7071 5.29289C15.0976 5.68342 15.0976 6.31658 14.7071 6.70711L9.41421 12L14.7071 17.2929C15.0976 17.6834 15.0976 18.3166 14.7071 18.7071C14.3166 19.0976 13.6834 19.0976 13.2929 18.7071L7.29289 12.7071C6.90237 12.3166 6.90237 11.6834 7.29289 11.2929L13.2929 5.29289C13.6834 4.90237 14.3166 4.90237 14.7071 5.29289Z\" fill=\"#595959\" />")
                        @("</svg>")
                    @("</div>")
                    @("<div class=\"u-sr-accessible\">")
                    @("</div>")
                @("</span>")
            @("</a>")
        @("</li>")
        @("<li class=\"c-pagination__item c-pagination__item--active\">")
            @("<a class=\"c-pagination__link\" href=\"#\">1</a>")
        @("</li>")
        @("<li class=\"c-pagination__item\">")
            @("<a class=\"c-pagination__link\" href=\"#\">2</a>")
        @("</li>")
        @("<li class=\"c-pagination__item\">")
            @("<a class=\"c-pagination__link\" href=\"#\">3</a>")
        @("</li>")
        @("<li class=\"c-pagination__item\">")
            @("<a class=\"c-pagination__link\" href=\"#\">4</a>")
        @("</li>")
        @("<li class=\"c-pagination__item\">")
            @("<a class=\"c-pagination__link\" href=\"#\">5</a>")
        @("</li>")
        @("<li class=\"c-pagination__item\">")
            @("<a class=\"c-button c-button--borderless c-button--icon\" href=\"#\">")
                @("<span class=\"c-button__content\">")
                    @("<div class=\"o-svg-icon o-svg-icon-chevron-right  \">")
                        @("<svg width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">")
                            @("<path d=\"M9.29289 18.7071C8.90237 18.3166 8.90237 17.6834 9.29289 17.2929L14.5858 12L9.29289 6.70711C8.90237 6.31658 8.90237 5.68342 9.29289 5.29289C9.68342 4.90237 10.3166 4.90237 10.7071 5.29289L16.7071 11.2929C17.0976 11.6834 17.0976 12.3166 16.7071 12.7071L10.7071 18.7071C10.3166 19.0976 9.68342 19.0976 9.29289 18.7071Z\" fill=\"#595959\" />")
                        @("</svg>")
                    @("</div>")
                    @("<div class=\"u-sr-accessible\">")
                    @("</div>")
                @("</span>")
            @("</a>")
        @("</li>")
    @("</ul>")
@("</nav>")
            </pre>
        </div>
    </div>
</div>
<div class="br-sample" id="component-02-c-pagination-many">
    <div class="br-sample-header br-sample-clearfix">
        <h3 class="br-sample-heading c-h3">Pagination (many)</h3>
        <a class="br-sample-header-link" href="#component-02-c-pagination-many">#</a>
    </div>
    <div class="br-sample-documentation c-content"></div>
    <div class="br-sample-content">
        <nav class="c-pagination" aria-label="Page navigation">
            <ul class="c-pagination__nav">
                <li class="c-pagination__item">
                    <a class="c-button c-button--borderless c-button--icon" href="#" disabled="disabled">
                        <span class="c-button__content">
                            <div class="o-svg-icon o-svg-icon-chevron-left  ">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M14.7071 5.29289C15.0976 5.68342 15.0976 6.31658 14.7071 6.70711L9.41421 12L14.7071 17.2929C15.0976 17.6834 15.0976 18.3166 14.7071 18.7071C14.3166 19.0976 13.6834 19.0976 13.2929 18.7071L7.29289 12.7071C6.90237 12.3166 6.90237 11.6834 7.29289 11.2929L13.2929 5.29289C13.6834 4.90237 14.3166 4.90237 14.7071 5.29289Z" fill="#595959"></path>
                                </svg>
                            </div>
                            <div class="u-sr-accessible">
                            </div>
                        </span>
                    </a>
                </li>
                <li class="c-pagination__item c-pagination__item--active">
                    <a class="c-pagination__link" href="#">1</a>
                </li>
                <li class="c-pagination__item">
                    <a class="c-pagination__link" href="#">2</a>
                </li>
                <li class="c-pagination__item">
                    <a class="c-pagination__link" href="#">3</a>
                </li>
                <li class="c-pagination__item">
                    <a class="c-pagination__link" href="#">4</a>
                </li>
                <li class="c-pagination__item">
                    <a class="c-pagination__link" href="#">5</a>
                </li>
                <li class="c-pagination__item">
                    <span class="c-pagination__dots">...</span>
                </li>
                <li class="c-pagination__item">
                    <a class="c-pagination__link" href="#">250</a>
                </li>
                <li class="c-pagination__item">
                    <a class="c-button c-button--borderless c-button--icon" href="#">
                        <span class="c-button__content">
                            <div class="o-svg-icon o-svg-icon-chevron-right  ">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.29289 18.7071C8.90237 18.3166 8.90237 17.6834 9.29289 17.2929L14.5858 12L9.29289 6.70711C8.90237 6.31658 8.90237 5.68342 9.29289 5.29289C9.68342 4.90237 10.3166 4.90237 10.7071 5.29289L16.7071 11.2929C17.0976 11.6834 17.0976 12.3166 16.7071 12.7071L10.7071 18.7071C10.3166 19.0976 9.68342 19.0976 9.29289 18.7071Z" fill="#595959"></path>
                                </svg>
                            </div>
                            <div class="u-sr-accessible">
                            </div>
                        </span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="br-sample-footer">
        <button class="br-sample-show-code-btn br-sample-show-code-btn-html c-button c-button--secondary c-button--small">Show HTML code</button>
        <div class="br-sample-code br-sample-code-html" style="">
            <button class="br-sample-copy-code-btn c-button c-button--secondary c-button--small">Copy to clipboard</button>
            <pre class="br-sample-markup br-sample-markup-html">
@("<nav class=\"c-pagination\" aria-label=\"Page navigation\">")
    @("<ul class=\"c-pagination__nav\">")
        @("<li class=\"c-pagination__item\">")
            @("<a class=\"c-button c-button--borderless c-button--icon\" href=\"#\" disabled=\"disabled\">")
                @("<span class=\"c-button__content\">")
                    @("<div class=\"o-svg-icon o-svg-icon-chevron-left  \">")
                        @("<svg width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">")
                            @("<path d=\"M14.7071 5.29289C15.0976 5.68342 15.0976 6.31658 14.7071 6.70711L9.41421 12L14.7071 17.2929C15.0976 17.6834 15.0976 18.3166 14.7071 18.7071C14.3166 19.0976 13.6834 19.0976 13.2929 18.7071L7.29289 12.7071C6.90237 12.3166 6.90237 11.6834 7.29289 11.2929L13.2929 5.29289C13.6834 4.90237 14.3166 4.90237 14.7071 5.29289Z\" fill=\"#595959\" />")
                        @("</svg>")
                    @("</div>")
                    @("<div class=\"u-sr-accessible\">")
                    @("</div>")
                @("</span>")
            @("</a>")
        @("</li>")
        @("<li class=\"c-pagination__item c-pagination__item--active\">")
            @("<a class=\"c-pagination__link\" href=\"#\">1</a>")
        @("</li>")
        @("<li class=\"c-pagination__item\">")
            @("<a class=\"c-pagination__link\" href=\"#\">2</a>")
        @("</li>")
        @("<li class=\"c-pagination__item\">")
            @("<a class=\"c-pagination__link\" href=\"#\">3</a>")
        @("</li>")
        @("<li class=\"c-pagination__item\">")
            @("<a class=\"c-pagination__link\" href=\"#\">4</a>")
        @("</li>")
        @("<li class=\"c-pagination__item\">")
            @("<a class=\"c-pagination__link\" href=\"#\">5</a>")
        @("</li>")
		@("<li class=\"c-pagination__item\">")
            @("<span class=\"c-pagination__dots\">...</span>")
        @("</li>")
        @("<li class=\"c-pagination__item\">")
            @("<a class=\"c-pagination__link\" href=\"#\">250</a>")
        @("</li>")
        @("<li class=\"c-pagination__item\">")
            @("<a class=\"c-button c-button--borderless c-button--icon\" href=\"#\">")
                @("<span class=\"c-button__content\">")
                    @("<div class=\"o-svg-icon o-svg-icon-chevron-right  \">")
                        @("<svg width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">")
                            @("<path d=\"M9.29289 18.7071C8.90237 18.3166 8.90237 17.6834 9.29289 17.2929L14.5858 12L9.29289 6.70711C8.90237 6.31658 8.90237 5.68342 9.29289 5.29289C9.68342 4.90237 10.3166 4.90237 10.7071 5.29289L16.7071 11.2929C17.0976 11.6834 17.0976 12.3166 16.7071 12.7071L10.7071 18.7071C10.3166 19.0976 9.68342 19.0976 9.29289 18.7071Z\" fill=\"#595959\" />")
                        @("</svg>")
                    @("</div>")
                    @("<div class=\"u-sr-accessible\">")
                    @("</div>")
                @("</span>")
            @("</a>")
        @("</li>")
    @("</ul>")
@("</nav>")
            </pre>
        </div>
    </div>
</div>
<div class="br-sample" id="component-03-c-pagination-middle">
    <div class="br-sample-header br-sample-clearfix">
        <h3 class="br-sample-heading c-h3">Pagination (middle selection)</h3>
        <a class="br-sample-header-link" href="#component-03-c-pagination-middle">#</a>
    </div>
    <div class="br-sample-documentation c-content"></div>
    <div class="br-sample-content">
        <nav class="c-pagination" aria-label="Page navigation">
            <ul class="c-pagination__nav">
                <li class="c-pagination__item">
                    <a class="c-button c-button--borderless c-button--icon" href="#" disabled="disabled">
                        <span class="c-button__content">
                            <div class="o-svg-icon o-svg-icon-chevron-left  ">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M14.7071 5.29289C15.0976 5.68342 15.0976 6.31658 14.7071 6.70711L9.41421 12L14.7071 17.2929C15.0976 17.6834 15.0976 18.3166 14.7071 18.7071C14.3166 19.0976 13.6834 19.0976 13.2929 18.7071L7.29289 12.7071C6.90237 12.3166 6.90237 11.6834 7.29289 11.2929L13.2929 5.29289C13.6834 4.90237 14.3166 4.90237 14.7071 5.29289Z" fill="#595959"></path>
                                </svg>
                            </div>
                            <div class="u-sr-accessible">
                            </div>
                        </span>
                    </a>
                </li>
                <li class="c-pagination__item">
                    <a class="c-pagination__link" href="#">1</a>
                </li>
                <li class="c-pagination__item">
                    <span class="c-pagination__dots">...</span>
                </li>
                <li class="c-pagination__item">
                    <a class="c-pagination__link" href="#">20</a>
                </li>
                <li class="c-pagination__item c-pagination__item--active">
                    <a class="c-pagination__link" href="#">21</a>
                </li>
                <li class="c-pagination__item">
                    <a class="c-pagination__link" href="#">22</a>
                </li>
                <li class="c-pagination__item">
                    <span class="c-pagination__dots">...</span>
                </li>
                <li class="c-pagination__item">
                    <a class="c-pagination__link" href="#">250</a>
                </li>
                <li class="c-pagination__item">
                    <a class="c-button c-button--borderless c-button--icon" href="#">
                        <span class="c-button__content">
                            <div class="o-svg-icon o-svg-icon-chevron-right  ">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.29289 18.7071C8.90237 18.3166 8.90237 17.6834 9.29289 17.2929L14.5858 12L9.29289 6.70711C8.90237 6.31658 8.90237 5.68342 9.29289 5.29289C9.68342 4.90237 10.3166 4.90237 10.7071 5.29289L16.7071 11.2929C17.0976 11.6834 17.0976 12.3166 16.7071 12.7071L10.7071 18.7071C10.3166 19.0976 9.68342 19.0976 9.29289 18.7071Z" fill="#595959"></path>
                                </svg>
                            </div>
                            <div class="u-sr-accessible">
                            </div>
                        </span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="br-sample-footer">
        <button class="br-sample-show-code-btn br-sample-show-code-btn-html c-button c-button--secondary c-button--small">Show HTML code</button>
        <div class="br-sample-code br-sample-code-html" style="">
            <button class="br-sample-copy-code-btn c-button c-button--secondary c-button--small">Copy to clipboard</button>
            <pre class="br-sample-markup br-sample-markup-html"><div class="CodeMirror cm-s-default"><div style="overflow: hidden; position: relative; width: 3px; height: 0px; top: 4px; left: 8px;"><textarea autocorrect="off" autocapitalize="off" spellcheck="false" style="position: absolute; bottom: -1em; padding: 0px; width: 1000px; height: 1em; outline: none;" readonly="" tabindex="0"></textarea></div><div class="CodeMirror-vscrollbar" tabindex="-1" cm-not-content="true" style="display: block; bottom: 0px;"><div style="min-width: 1px; height: 749px;"></div></div><div class="CodeMirror-hscrollbar" tabindex="-1" cm-not-content="true"><div style="height: 100%; min-height: 1px; width: 0px;"></div></div><div class="CodeMirror-scrollbar-filler" cm-not-content="true"></div><div class="CodeMirror-gutter-filler" cm-not-content="true"></div><div class="CodeMirror-scroll" tabindex="-1"><div class="CodeMirror-sizer" style="margin-left: 0px; margin-bottom: -16px; border-right-width: 34px; min-height: 728px; min-width: 737.163px; padding-right: 16px; padding-bottom: 0px;"><div style="position: relative; top: 0px;"><div class="CodeMirror-lines" role="presentation"><div role="presentation" style="position: relative; outline: none;"><div class="CodeMirror-measure"><pre class="CodeMirror-line-like"><span>xxxxxxxxxx</span></pre></div><div class="CodeMirror-measure"></div><div style="position: relative; z-index: 1;"></div><div class="CodeMirror-cursors"><div class="CodeMirror-cursor" style="left: 4px; top: 0px; height: 24px;">&nbsp;</div></div><div class="CodeMirror-code" role="presentation" style=""><pre class=" CodeMirror-line " role="presentation"><span role="presentation" style="padding-right: 0.1px;"><span class="cm-tag cm-bracket">&lt;</span><span class="cm-tag">div</span> <span class="cm-attribute">class</span>=<span class="cm-string">"c-panel"</span><span class="cm-tag cm-bracket">&gt;</span></span></pre><pre class=" CodeMirror-line " role="presentation"><span role="presentation" style="padding-right: 0.1px;">    <span class="cm-tag cm-bracket">&lt;</span><span class="cm-tag">div</span> <span class="cm-attribute">class</span>=<span class="cm-string">"c-panel__header"</span><span class="cm-tag cm-bracket">&gt;</span></span></pre><pre class=" CodeMirror-line " role="presentation"><span role="presentation" style="padding-right: 0.1px;">        <span class="cm-tag cm-bracket">&lt;</span><span class="cm-tag">div</span> <span class="cm-attribute">class</span>=<span class="cm-string">"c-toolbar"</span><span class="cm-tag cm-bracket">&gt;</span></span></pre><pre class=" CodeMirror-line " role="presentation"><span role="presentation" style="padding-right: 0.1px;">            <span class="cm-tag cm-bracket">&lt;</span><span class="cm-tag">div</span> <span class="cm-attribute">class</span>=<span class="cm-string">"c-toolbar__left"</span><span class="cm-tag cm-bracket">&gt;</span></span></pre><pre class=" CodeMirror-line " role="presentation"><span role="presentation" style="padding-right: 0.1px;">                <span class="cm-tag cm-bracket">&lt;</span><span class="cm-tag">div</span> <span class="cm-attribute">class</span>=<span class="cm-string">"c-toolbar__item"</span><span class="cm-tag cm-bracket">&gt;</span></span></pre><pre class=" CodeMirror-line " role="presentation"><span role="presentation" style="padding-right: 0.1px;">                    <span class="cm-tag cm-bracket">&lt;</span><span class="cm-tag">h2</span> <span class="cm-attribute">class</span>=<span class="cm-string">"c-toolbar-title"</span><span class="cm-tag cm-bracket">&gt;</span>Panel title<span class="cm-tag cm-bracket">&lt;/</span><span class="cm-tag">h2</span><span class="cm-tag cm-bracket">&gt;</span></span></pre><pre class=" CodeMirror-line " role="presentation"><span role="presentation" style="padding-right: 0.1px;">                <span class="cm-tag cm-bracket">&lt;/</span><span class="cm-tag">div</span><span class="cm-tag cm-bracket">&gt;</span></span></pre><pre class=" CodeMirror-line " role="presentation"><span role="presentation" style="padding-right: 0.1px;">            <span class="cm-tag cm-bracket">&lt;/</span><span class="cm-tag">div</span><span class="cm-tag cm-bracket">&gt;</span></span></pre><pre class=" CodeMirror-line " role="presentation"><span role="presentation" style="padding-right: 0.1px;">            <span class="cm-tag cm-bracket">&lt;</span><span class="cm-tag">div</span> <span class="cm-attribute">class</span>=<span class="cm-string">"c-toolbar__right"</span><span class="cm-tag cm-bracket">&gt;</span></span></pre><pre class=" CodeMirror-line " role="presentation"><span role="presentation" style="padding-right: 0.1px;">                <span class="cm-tag cm-bracket">&lt;</span><span class="cm-tag">div</span> <span class="cm-attribute">class</span>=<span class="cm-string">"c-toolbar__item"</span><span class="cm-tag cm-bracket">&gt;</span></span></pre><pre class=" CodeMirror-line " role="presentation"><span role="presentation" style="padding-right: 0.1px;">                    <span class="cm-tag cm-bracket">&lt;</span><span class="cm-tag">div</span> <span class="cm-attribute">class</span>=<span class="cm-string">"c-button-toolbar"</span><span class="cm-tag cm-bracket">&gt;</span></span></pre><pre class=" CodeMirror-line " role="presentation"><span role="presentation" style="padding-right: 0.1px;">                        <span class="cm-tag cm-bracket">&lt;</span><span class="cm-tag">button</span> <span class="cm-attribute">class</span>=<span class="cm-string">"c-button c-button--secondary"</span> <span class="cm-attribute">type</span>=<span class="cm-string">"button"</span><span class="cm-tag cm-bracket">&gt;</span></span></pre><pre class=" CodeMirror-line " role="presentation"><span role="presentation" style="padding-right: 0.1px;">                            <span class="cm-tag cm-bracket">&lt;</span><span class="cm-tag">span</span> <span class="cm-attribute">class</span>=<span class="cm-string">"c-button__content"</span><span class="cm-tag cm-bracket">&gt;</span></span></pre><pre class=" CodeMirror-line " role="presentation"><span role="presentation" style="padding-right: 0.1px;">                                <span class="cm-tag cm-bracket">&lt;</span><span class="cm-tag">span</span> <span class="cm-attribute">class</span>=<span class="cm-string">"c-button__label"</span><span class="cm-tag cm-bracket">&gt;</span>Button Label<span class="cm-tag cm-bracket">&lt;/</span><span class="cm-tag">span</span><span class="cm-tag cm-bracket">&gt;</span></span></pre><pre class=" CodeMirror-line " role="presentation"><span role="presentation" style="padding-right: 0.1px;">                            <span class="cm-tag cm-bracket">&lt;/</span><span class="cm-tag">span</span><span class="cm-tag cm-bracket">&gt;</span></span></pre><pre class=" CodeMirror-line " role="presentation"><span role="presentation" style="padding-right: 0.1px;">                        <span class="cm-tag cm-bracket">&lt;/</span><span class="cm-tag">button</span><span class="cm-tag cm-bracket">&gt;</span></span></pre><pre class=" CodeMirror-line " role="presentation"><span role="presentation" style="padding-right: 0.1px;">                        <span class="cm-tag cm-bracket">&lt;</span><span class="cm-tag">button</span> <span class="cm-attribute">class</span>=<span class="cm-string">"c-button c-button--primary"</span> <span class="cm-attribute">type</span>=<span class="cm-string">"button"</span><span class="cm-tag cm-bracket">&gt;</span></span></pre><pre class=" CodeMirror-line " role="presentation"><span role="presentation" style="padding-right: 0.1px;">                            <span class="cm-tag cm-bracket">&lt;</span><span class="cm-tag">span</span> <span class="cm-attribute">class</span>=<span class="cm-string">"c-button__content"</span><span class="cm-tag cm-bracket">&gt;</span></span></pre><pre class=" CodeMirror-line " role="presentation"><span role="presentation" style="padding-right: 0.1px;">                                <span class="cm-tag cm-bracket">&lt;</span><span class="cm-tag">span</span> <span class="cm-attribute">class</span>=<span class="cm-string">"c-button__label"</span><span class="cm-tag cm-bracket">&gt;</span>Button Label<span class="cm-tag cm-bracket">&lt;/</span><span class="cm-tag">span</span><span class="cm-tag cm-bracket">&gt;</span></span></pre><pre class=" CodeMirror-line " role="presentation"><span role="presentation" style="padding-right: 0.1px;">                            <span class="cm-tag cm-bracket">&lt;/</span><span class="cm-tag">span</span><span class="cm-tag cm-bracket">&gt;</span></span></pre><pre class=" CodeMirror-line " role="presentation"><span role="presentation" style="padding-right: 0.1px;">                        <span class="cm-tag cm-bracket">&lt;/</span><span class="cm-tag">button</span><span class="cm-tag cm-bracket">&gt;</span></span></pre><pre class=" CodeMirror-line " role="presentation"><span role="presentation" style="padding-right: 0.1px;">                    <span class="cm-tag cm-bracket">&lt;/</span><span class="cm-tag">div</span><span class="cm-tag cm-bracket">&gt;</span></span></pre><pre class=" CodeMirror-line " role="presentation"><span role="presentation" style="padding-right: 0.1px;">                <span class="cm-tag cm-bracket">&lt;/</span><span class="cm-tag">div</span><span class="cm-tag cm-bracket">&gt;</span></span></pre><pre class=" CodeMirror-line " role="presentation"><span role="presentation" style="padding-right: 0.1px;">            <span class="cm-tag cm-bracket">&lt;/</span><span class="cm-tag">div</span><span class="cm-tag cm-bracket">&gt;</span></span></pre><pre class=" CodeMirror-line " role="presentation"><span role="presentation" style="padding-right: 0.1px;">        <span class="cm-tag cm-bracket">&lt;/</span><span class="cm-tag">div</span><span class="cm-tag cm-bracket">&gt;</span></span></pre><pre class=" CodeMirror-line " role="presentation"><span role="presentation" style="padding-right: 0.1px;">    <span class="cm-tag cm-bracket">&lt;/</span><span class="cm-tag">div</span><span class="cm-tag cm-bracket">&gt;</span></span></pre><pre class=" CodeMirror-line " role="presentation"><span role="presentation" style="padding-right: 0.1px;">    <span class="cm-tag cm-bracket">&lt;</span><span class="cm-tag">div</span> <span class="cm-attribute">class</span>=<span class="cm-string">"c-panel__body"</span><span class="cm-tag cm-bracket">&gt;</span></span></pre><pre class=" CodeMirror-line " role="presentation"><span role="presentation" style="padding-right: 0.1px;">        <span class="cm-tag cm-bracket">&lt;</span><span class="cm-tag">p</span><span class="cm-tag cm-bracket">&gt;</span>Panel content<span class="cm-tag cm-bracket">&lt;/</span><span class="cm-tag">p</span><span class="cm-tag cm-bracket">&gt;</span></span></pre><pre class=" CodeMirror-line " role="presentation"><span role="presentation" style="padding-right: 0.1px;">    <span class="cm-tag cm-bracket">&lt;/</span><span class="cm-tag">div</span><span class="cm-tag cm-bracket">&gt;</span></span></pre><pre class=" CodeMirror-line " role="presentation"><span role="presentation" style="padding-right: 0.1px;"><span class="cm-tag cm-bracket">&lt;/</span><span class="cm-tag">div</span><span class="cm-tag cm-bracket">&gt;</span></span></pre></div></div></div></div></div><div style="position: absolute; height: 34px; width: 1px; border-bottom: 0px solid transparent; top: 728px;"></div><div class="CodeMirror-gutters" style="display: none; height: 762px;"></div></div></div></pre>
        </div>
    </div>
</div>
</div>
</div>
