@page
@model Smart.Design.Library.Showcase.Pages.Components.ProgressBar.ProgressBar
@{
    ViewData["MainTitle"] = "Components documentation";
    ViewData["ComponentTitle"] = "ProgressBar";
}

<div class="u-padding-bottom-l">
    <h1 class="c-h2">@ViewData["MainTitle"]</h1>
</div>


<div class="o-grid">
    @await Html.PartialAsync("Shared/_ComponentList")
    <div class="o-grid-col-bp3-9">
        <div class="br-componentgroup-header-wrapper">
            <h1 class="br-componentgroup-header c-h2">@ViewData["ComponentTitle"]</h1>
            <p><b>Status:</b> Complete</p>
        </div>
        <div class="br-content c-content">
        </div>
        <div class="br-sample" id="component-01-c-progress-bar">
            <div class="br-sample-header br-sample-clearfix">
                <h3 class="br-sample-heading c-h3">Progress bar (initial)</h3>
                <a class="br-sample-header-link" href="#component-01-c-progress-bar">#</a>

            </div>
            <div class="br-sample-documentation c-content">
            </div>
            <div class="br-sample-content">
                <smart-progress-bar progress="0"></smart-progress-bar>
            </div>
            <div class="br-sample-footer">
                <b>C# Code: </b>
                <pre class="br-sample-markup br-sample-markup-csharp">@("<smart-progress-bar progress=\"0\"></smart-progress-bar>")</pre>
            </div>
        </div>
        <div class="br-sample" id="component-02-c-progress-bar">
            <div class="br-sample-header br-sample-clearfix">
                <h3 class="br-sample-heading c-h3">Progress bar (loading)</h3>
                <a class="br-sample-header-link" href="#component-02-c-progress-bar">#</a>

            </div>
            <div class="br-sample-documentation c-content">
            </div>
            <div class="br-sample-content">
                <smart-progress-bar progress="60"></smart-progress-bar>
            </div>
            <div class="br-sample-footer">
                <b>C# Code: </b>
                <pre class="br-sample-markup br-sample-markup-csharp">@("<smart-progress-bar progress=\"60\"></smart-progress-bar>")</pre>
            </div>
        </div>
        <div class="br-sample" id="component-03-c-progress-bar">
            <div class="br-sample-header br-sample-clearfix">
                <h3 class="br-sample-heading c-h3">Progress bar (success)</h3>
                <a class="br-sample-header-link" href="#component-03-c-progress-bar">#</a>

            </div>
            <div class="br-sample-documentation c-content">
            </div>
            <div class="br-sample-content">
                <smart-progress-bar progress="100"></smart-progress-bar>
            </div>
            <div class="br-sample-footer">
                <b>C# Code: </b>
                <pre class="br-sample-markup br-sample-markup-csharp">@("<smart-progress-bar progress=\"100\"></smart-progress-bar>")</pre>
            </div>
        </div>
        <div class="br-componentgroup-footer-wrapper">
            <h1 class="br-componentgroup-footer c-h2">Possible parameters for muted text</h1>
            <div class="br-content c-content">
                <table class="c-table">
                    <thead>
                        <tr>
                            <th>Parameters</th>
                            <th>Type</th>
                            <th>Possible values</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>progress</td>
                            <td>int</td>
                            <td>
                                The progress value
                            </td>
                            <td>
                                This should be between 0 and 100.<br/>
                                A value higher or equals to  100 is considered as done.<br />
                                <b>Color system:</b><br />
                                The bar is grey if value is 0.<br />
                                The bar is blue if value is between 1 and 99.<br />
                                The bar is green if value is 100.
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
